<div class="grid w-full grid-cols-2 gap-4" [formGroup]="form">
  @if (mutation.isPending()) {
    <!--LOADING-->
    <div class="col-span-2 flex flex-col items-center gap-4 rounded-lg bg-white p-8">
      <mat-spinner></mat-spinner>
      <span class="text-neutral-500">Processing files...</span>
    </div>
  } @else if (mutation.isError()) {
    <!--ERROR-->
    <div class="col-span-2 flex flex-col items-center gap-2 rounded-lg bg-white p-8">
      <span class="material-symbols-outlined text-primary-200 text-4xl">error</span>
      <span class="text-neutral-500">Failed to import files.</span>
      <button mat-button (click)="cancel()">try again</button>
    </div>
  } @else if (mutation.isSuccess()) {
    <!--RESULT-->
    <div class="col-span-2 grid grid-cols-3 gap-4 rounded-lg bg-white p-4">
      <div class="col-span-3 flex flex-col">
        <h2>Import Result</h2>
        <span class="text-sm text-neutral-500">
          {{ mutation.data().id }}
        </span>
      </div>

      <div class="bg-primary-100/10 flex flex-row items-center gap-4 rounded-xl p-4 text-sm text-neutral-500">
        <div class="flex items-center justify-center rounded-full bg-white p-2 text-center">
          <span class="material-symbols-outlined text-primary-200 text-4xl">humidity_low</span>
        </div>
        <span>
          Hydrogen Produced <br />
          <span class="text-primary-200 text-2xl">{{ mutation.data().hydrogenProduced | number }} </span>
          <span class="text-primary-200">{{ FormattedUnits.KG }}</span></span
        >
      </div>

      <div class="bg-primary-100/10 flex flex-row items-center gap-4 rounded-xl p-4 text-sm text-neutral-500">
        <div class="flex items-center justify-center rounded-full bg-white p-2 text-center">
          <span class="material-symbols-outlined text-primary-200 text-4xl">electric_bolt</span>
        </div>
        <span>
          Power Used <br />
          <span class="text-primary-200 text-2xl">{{ mutation.data().powerUsed | number }} </span>
          <span class="text-primary-200">{{ FormattedUnits.KWH }}</span></span
        >
      </div>

      <div class="bg-primary-100/10 flex flex-row items-center gap-4 rounded-xl p-4 text-sm text-neutral-500">
        <div class="flex items-center justify-center rounded-full bg-white p-2 text-center">
          <span class="material-symbols-outlined text-primary-200 text-4xl">functions</span>
        </div>
        <span>
          Number of Batches <br />
          <span class="text-primary-200 text-2xl">{{ mutation.data().numberOfBatches | number }} </span>
        </span>
      </div>
    </div>

    <div class="col-span-2 flex flex-col gap-2 rounded-lg bg-white p-4">
      <span>To save the imported data, please select a hydrogen storage unit.</span>

      <mat-form-field appearance="outline" class="min-w-40">
        <mat-label>Hydrogen Storage Unit</mat-label>
        <mat-select [formControl]="storageUnit">
          @for (unit of hydrogenStorageUnits(); track unit) {
            <mat-option [value]="unit.id"
              >{{ unit.name }} (Remaining Capacity:
              {{ unit.capacity - unit.filling | number | unit: FormattedUnits.KG }})
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-span-2 flex justify-end gap-2 rounded-lg bg-white p-4">
      <button mat-button (click)="cancel()">Cancel</button>
      <button mat-flat-button (click)="save()" [disabled]="storageUnit.invalid">Save</button>
    </div>
  } @else {
    <!--FILE INPUT-->
    <div class="bg-primary-200/20 col-span-2 rounded-lg p-4 text-neutral-600">
      <span class="flex items-center gap-1 font-semibold">
        <span class="material-symbols-outlined">lightbulb_2</span>Hint</span
      >
      <p>
        Drag and drop your CSV file here. The file must use a comma (,) as the delimiter and include a header as the
        first row. Required columns are <strong>time</strong> and <strong>amount</strong> for power data, and
        <strong>time</strong>, <strong>amount</strong>, <strong>power</strong> for hydrogen data.
      </p>
    </div>
    <div class="flex flex-col gap-4 rounded-lg bg-white p-4" formArrayName="h2ProductionFiles">
      <span>Hydrogen Production</span>
      <app-file-drag-and-drop
        (fileSelected)="addHydrogenProductionFileWithUnit($event, h2ProductionFiles)"
      ></app-file-drag-and-drop>
      @if (h2ProductionFiles.controls.length !== 0) {
        @for (file of h2ProductionFiles.controls; track file; let i = $index) {
          <div [formGroupName]="i" class="rounded-md bg-neutral-100 p-4">
            <div class="flex flex-row justify-between pb-4">
              <div class="flex flex-col">
                <span class="text-base text-neutral-600">
                  {{ h2ProductionFiles.controls[i].controls.file.value?.name }}
                </span>
                <span class="text-sm text-neutral-500">
                  ({{ h2ProductionFiles.controls[i].controls.file.value?.size ?? 0 | fileSize }})</span
                >
              </div>
              <span
                class="material-symbols-outlined text-neutral-500 hover:cursor-pointer"
                role="none"
                (click)="removeFile(i, h2ProductionFiles)"
                >close</span
              >
            </div>
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Hydrogen Production Unit</mat-label>
              <mat-select formControlName="unitId">
                @for (unit of hydrogenProductionUnits(); track unit) {
                  <mat-option [value]="unit.id">{{ unit.name }}</mat-option>
                }
              </mat-select></mat-form-field
            >
          </div>
        }
      } @else {
        <span class="text-sm text-neutral-500">No file selected.</span>
      }
    </div>

    <div class="flex flex-col gap-4 rounded-lg bg-white p-4" formArrayName="powerProductionFiles">
      <span>Power Production</span>
      <app-file-drag-and-drop
        (fileSelected)="addFileFormWithUnit($event, powerProductionFiles)"
      ></app-file-drag-and-drop>
      @if (powerProductionFiles.controls.length !== 0) {
        @for (file of powerProductionFiles.controls; track $index; let j = $index) {
          <div [formGroupName]="j" class="rounded-md bg-neutral-100 p-4">
            <div class="flex flex-row justify-between pb-4">
              <div class="flex flex-col">
                <span class="text-base text-neutral-600">
                  {{ powerProductionFiles.controls[j].controls.file.value?.name }}
                </span>
                <span class="text-sm text-neutral-500">
                  ({{ powerProductionFiles.controls[j].controls.file.value?.size ?? 0 | fileSize }})</span
                >
              </div>
              <span
                class="material-symbols-outlined text-neutral-500 hover:cursor-pointer"
                role="none"
                (click)="removeFile(j, powerProductionFiles)"
                >close</span
              >
            </div>
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Power Production Unit</mat-label>
              <mat-select formControlName="unitId">
                @for (unit of powerAccessApprovals(); track unit) {
                  <mat-option [value]="unit.value.id">{{ unit.name }}</mat-option>
                }
              </mat-select></mat-form-field
            >
          </div>
        }
      } @else {
        <span class="text-sm text-neutral-500">No files selected.</span>
      }
    </div>
    <div class="col-span-2 flex justify-end gap-4 rounded-lg bg-white p-4">
      <button mat-flat-button (click)="submit()" [disabled]="form.invalid">Submit</button>
    </div>
  }
</div>
