.processes-container {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0 1rem;
}

.table-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

