<div class="processes-container">
  <div class="grey">
    <h2 class="medium grey">Processing</h2>
  </div>
  <mat-card class="table-card">
    <h2 class="medium">Overview</h2>
    <div class="mat-elevation-z8">
      <table mat-table *ngIf="dataSource$ | async as source" [dataSource]="source" matSort class="table-styling">
        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Filling Timestamp</div></th>
          <td mat-cell *matCellDef="let row">{{ row.timestamp | date }} {{ row.timestamp | date : 'shortTime' }}</td>
        </ng-container>
        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-font-size">
            <div class="bold">Owner</div>
          </th>
          <td mat-cell *matCellDef="let row" class="table-font-size">{{ row.owner }}</td>
        </ng-container>
        <ng-container matColumnDef="filledAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Filled Amount (kg)</div></th>
          <td mat-cell *matCellDef="let row">
            {{ row.filledAmount | number }}
          </td>
        </ng-container>
        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Hydrogen Color</div></th>
            <td mat-cell *matCellDef="let row">{{ row.color | lowercase }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </mat-card>
</div>
