variables:
  CRI_URL: $CI_REGISTRY
  CRI_PATH: ${CRI_URL}/oe260/duh-it/h2-trust/core-gh

stages:
  - danger
  - test
  - analysis
  - build
  - archive
  - deploy

.default:
  image: node:lts-alpine
  interruptible: true
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - .npm
  before_script:
    - apk update
    - apk add openssl
    - npm install --cache .npm

danger:
  stage: danger
  extends: .default
  script:
    - echo "Danger Token ${DANGER_GITLAB_API_TOKEN}"
    - npm install -g danger
    - danger ci --failOnErrors
  allow_failure: true
  only:
    - merge_requests

lint:
  stage: analysis
  extends: .default
  script:
    - npm run eslint-check
  only:
    - merge_requests

format:
  stage: analysis
  extends: .default
  script:
    - npm run prettier-check
  only:
    - merge_requests

include:
  - 'apps/bff/.gitlab-ci.yml'
  - 'apps/general-svc/.gitlab-ci.yml'
  - 'apps/batch-svc/.gitlab-ci.yml'
  - 'apps/process-svc/.gitlab-ci.yml'
  - 'apps/frontend/.gitlab-ci.yml'
  - 'libs/.gitlab-ci.yml'

all:deploy-staging:
  stage: deploy
  image: alpine:latest
  variables:
    GIT_STRATEGY: none
  before_script:
    - echo "Deploying images with tag $CI_COMMIT_TAG"
    - apk add --no-cache git curl bash coreutils
    - curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash
    - mv kustomize /usr/local/bin/
    - git clone https://pipeline-token:${GL_TOKEN}@gitlab.cc-asp.fraunhofer.de/oe260/duh-it/h2-trust/pipeline.git
    - git config --global user.email "gitlab@oe260.iml.fhg.de"
    - git config --global user.name "GitLab CI/CD"
  script:
    - cd pipeline/kustomize/core/overlays/dev
    - kustomize edit set image ${CRI_PATH}/batch-svc:$CI_COMMIT_TAG
    - kustomize edit set image ${CRI_PATH}/bff:$CI_COMMIT_TAG
    - kustomize edit set image ${CRI_PATH}/frontend:$CI_COMMIT_TAG
    - kustomize edit set image ${CRI_PATH}/general-svc:$CI_COMMIT_TAG
    - kustomize edit set image ${CRI_PATH}/process-svc:$CI_COMMIT_TAG
    - git commit -am '[skip ci] manifest-image update'
    - git push origin main
  only:
    - /^v\d+\.\d+\.\d+-rc\.\d+$/
  except:
    - branches
    - merge_requests

all:deploy-production:
  stage: deploy
  image: alpine:latest
  variables:
    GIT_STRATEGY: none
  before_script:
    - echo "Deploying images with tag $CI_COMMIT_TAG"
    - apk add --no-cache git curl bash coreutils
    - curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash
    - mv kustomize /usr/local/bin/
    - git clone https://pipeline-token:${GL_TOKEN}@gitlab.cc-asp.fraunhofer.de/oe260/duh-it/h2-trust/pipeline.git
    - git config --global user.email "gitlab@oe260.iml.fhg.de"
    - git config --global user.name "GitLab CI/CD"
  script:
    - cd pipeline/kustomize/core/overlays/prod
    - kustomize edit set image ${CRI_PATH}/batch-svc:$CI_COMMIT_TAG
    - kustomize edit set image ${CRI_PATH}/bff:$CI_COMMIT_TAG
    - kustomize edit set image ${CRI_PATH}/frontend:$CI_COMMIT_TAG
    - kustomize edit set image ${CRI_PATH}/general-svc:$CI_COMMIT_TAG
    - kustomize edit set image ${CRI_PATH}/process-svc:$CI_COMMIT_TAG
    - git commit -am '[skip ci] manifest-image update'
    - git push origin main
  only:
    - /^v\d+\.\d+\.\d+$/
  except:
    - branches
    - merge_requests
