<div class="flex h-full flex-col gap-4 overflow-auto p-8">
  <div class="flex flex-row items-center gap-2 text-lg text-neutral-500">
    <a
      [routerLink]="isAuthenticated ? '/bottling' : null"
      [ngClass]="{ 'cursor-pointer hover:underline': isAuthenticated }"
      >Bottling</a
    >
    <span class="material-symbols-outlined"> keyboard_arrow_right </span>
    Digital Product Passport
  </div>

  @if (batchQuery.error()) {
    <app-error-card [message]="ERROR_MESSAGES.dppNotFound + id()"></app-error-card>
  }

  <div class="grid grid-cols-6 gap-4">
    @if (batchQuery.isLoading()) {
      <div class="col-span-4 h-[16rem] w-full animate-pulse rounded-md bg-neutral-50"></div>
      <div class="col-span-2 h-[16rem] w-full animate-pulse rounded-md bg-neutral-50"></div>
    }

    @if (batchQuery.isSuccess()) {
      <div class="col-span-4 rounded-lg bg-white p-4">
        <div class="flex flex-row items-center justify-between">
          <h3 class="font-semibold text-neutral-500">General Information</h3>
          <app-rfnbo-compliance
            class="col-span-6"
            [redCompliance]="batchQuery.data().rfnboCompliance"
          ></app-rfnbo-compliance>
        </div>

        <div class="flex flex-row">
          <div class="mt-2 grid w-1/2 grid-cols-2 gap-2">
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Batch Id</span><span>{{ batchQuery.data().id }}</span>
            </div>
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Date</span><span>{{ batchQuery.data().filledAt | date }}</span>
            </div>
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Producer</span><span>{{ batchQuery.data().producer }}</span>
            </div>
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Amount</span
              ><span>{{ batchQuery.data().filledAmount | unit: FormattedUnits.KG }}</span>
            </div>
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Product</span><span>{{ batchQuery.data().product }}</span>
            </div>
          </div>
          <app-h2-composition-chart
            class="w-1/2"
            [chartData]="batchQuery.data().hydrogenComposition"
          ></app-h2-composition-chart>
        </div>
      </div>

      <div class="col-span-2 rounded-lg bg-white p-4">
        <h3 class="mb-2 font-semibold text-neutral-500">Attached Files</h3>
        <div class="flex max-h-60 flex-col gap-2 overflow-y-auto">
          @for (file of batchQuery.data().attachedFiles; track $index) {
            <div
              class="flex flex-row items-center gap-4 rounded-lg border-2 border-solid border-neutral-100 p-2 hover:cursor-pointer hover:border-neutral-200"
              (click)="openFile(file.url)"
              role="none"
            >
              <div class="bg-primary-100 flex h-10 w-10 items-center justify-center rounded-lg">
                <span class="material-symbols-outlined text-primary-500"> attach_file </span>
              </div>
              <span class="text-sm text-neutral-600">{{ file.description }}</span>
            </div>
          }
        </div>
        @if (batchQuery.data().attachedFiles.length === 0) {
          <span class="text-sm text-neutral-600">No files attached.</span>
        }
      </div>
    }

    <app-proof-of-origin class="col-span-6 2xl:col-span-3" [proofOfOrigin$]="batchQuery.data()?.proofOfOrigin">
    </app-proof-of-origin
    ><app-proof-of-sustainability
      [proofOfSustainability$]="batchQuery.data()?.proofOfSustainability"
      class="col-span-6 2xl:col-span-3"
    ></app-proof-of-sustainability>
  </div>
</div>
