<div class="grid grid-cols-2 gap-4" [formGroup]="form">
  <div class="col-span-2 rounded-lg bg-primary-300/30 p-4 text-neutral-600">
    <span class="flex items-center gap-1 font-semibold">
      <span class="material-symbols-outlined">lightbulb_2</span>Hint</span
    >
    <p>
      Select the <strong>production</strong> and <strong>storage</strong> units, specify the
      <strong>time period</strong>, and enter the produced <strong>hydrogen</strong> amount (kg) and consumed
      <strong>power</strong> amount (kWh).
    </p>
    <p class="pt-2">
      Prefer to upload files?
      <button mat-stroked-button class="ml-2" (click)="switchToUpload.emit()">Upload Files</button>
    </p>
  </div>
  <div class="flex flex-col gap-4 rounded-lg bg-white p-4">
    <span>Units Used</span>
    <mat-form-field appearance="outline" class="col-span-2">
      <mat-label>Hydrogen Production Unit</mat-label>
      <mat-select formControlName="hydrogenProductionUnit">
        @for (unit of hydrogenProductionUnits(); track unit) {
          <mat-option [value]="unit">{{ unit.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-span-2">
      <mat-label>Power Production</mat-label>
      <mat-select formControlName="powerProductionUnit">
        @for (approval of powerAccessApprovals(); track approval) {
          <mat-option [value]="approval.value">{{ approval.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-span-2">
      <mat-label>Hydrogen Storage Unit</mat-label>
      <mat-select formControlName="hydrogenStorageUnit">
        @for (unit of hydrogenStorageUnits(); track unit) {
          <mat-option [value]="unit"
            >{{ unit.name }} (Remaining Capacity: {{ unit.capacity - unit.filling | unit: MeasurementUnit.KG }})
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="grid grid-cols-2 gap-x-2 gap-y-4 rounded-lg bg-white p-4">
    <span class="col-span-2">Production Details</span>

    <mat-form-field appearance="outline">
      <mat-label>Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="startDatepicker"
        (dateChange)="updateDate($event.value, this.form.controls.productionStartedAt)"
        required
        [max]="today"
        [value]="form.controls.productionStartedAt.value"
        readonly
      />
      <mat-datepicker #startDatepicker />
      <mat-datepicker-toggle [for]="startDatepicker" matSuffix />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Start Time</mat-label>
      <input
        matInput
        [matTimepicker]="startTimepicker"
        required
        [value]="form.controls.productionStartedAt.value"
        (valueChange)="updateTime($event, form.controls.productionStartedAt)"
        readonly
      />
      <mat-timepicker #startTimepicker interval="60min" />
      <mat-timepicker-toggle [for]="startTimepicker" matSuffix />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>End Date</mat-label>
      <input
        matInput
        [matDatepicker]="endDatepicker"
        (dateChange)="updateDate($event.value, form.controls.productionEndedAt)"
        required
        [max]="today"
        [value]="form.controls.productionEndedAt.value"
        readonly
      />
      <mat-datepicker #endDatepicker />
      <mat-datepicker-toggle [for]="endDatepicker" matSuffix />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>End Time</mat-label>
      <input
        matInput
        [matTimepicker]="endTimepicker"
        required
        [value]="form.controls.productionEndedAt.value"
        (valueChange)="updateTime($event, form.controls.productionEndedAt)"
        readonly
      />
      <mat-timepicker #endTimepicker interval="60min" />
      <mat-timepicker-toggle [for]="endTimepicker" matSuffix />
    </mat-form-field>

    @if (isTimePeriodInvalid) {
      <div class="col-span-2 flex flex-row items-center gap-2 text-sm text-red-700">
        <span class="material-symbols-outlined">error</span> The start of the specified period must be before the end.
      </div>
    }

    <mat-form-field appearance="outline">
      <mat-label>Hydrogen Amount (kg)</mat-label>
      <input matInput type="number" [min]="0" formControlName="hydrogenAmountKg" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Power Amount (kWh)</mat-label>
      <input matInput type="number" [min]="0" formControlName="powerAmountKwh" />
    </mat-form-field>

    @if (amountNotAvailable()) {
      <div class="col-span-2 flex flex-row items-center gap-2 text-sm text-primary-200">
        <span class="material-symbols-outlined">warning</span>
        {{ ERROR_MESSAGES.amountIsGreaterThanRemainingCapacity }}
      </div>
    }
  </div>
</div>

<div class="mt-4 flex justify-end gap-4 rounded-lg bg-white p-4">
  <button mat-flat-button (click)="submit()" [disabled]="form.invalid">Save</button>
</div>
