<div class="my-4 flex w-full flex-col gap-4 rounded-lg bg-white py-4">
  <!-- PENDING Section -->
  <span class="px-4 text-xs text-neutral-400">PENDING</span>
  <div class="mx-4 flex flex-col gap-2 rounded-md border border-dashed bg-neutral-50 p-4">
    @if (data()?.pending?.length === 0) {
      <app-empty-requests [role]="role()" [pending]="true" />
    }

    <div class="grid grid-cols-2 gap-4 2xl:grid-cols-3">
      @for (request of data()?.pending; track request.id) {
        <app-ppa-request-card [request]="request" [role]="role()" />
      }
    </div>
  </div>

  <mat-divider />

  <!-- COMPLETED Section -->
  <span class="px-4 text-xs text-neutral-400">COMPLETED</span>
  <div class="to mx-4 flex flex-col gap-2 rounded-md border border-dashed bg-neutral-50 p-4">
    @if (data()?.closed?.length === 0) {
      <app-empty-requests [role]="role()" [pending]="false" />
    }

    <div class="grid grid-cols-2 gap-4 2xl:grid-cols-3">
      @for (request of data()?.closed; track request.id) {
        <app-ppa-request-card [request]="request" [role]="role()" />
      }
    </div>
  </div>
</div>
