.overview-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 1rem;
}

.overview-content {
  display: grid;
  grid-template-columns: 20% 20%;
  gap: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
