<div class="flex flex-col gap-4 p-8">
  <h2 class="text-lg text-neutral-500">My Account</h2>

  @if (accountQuery.isLoading()) {
    <app-loading-card></app-loading-card>
  } @else if (accountQuery.isError()) {
    <app-error-card [error]="accountQuery.error()" class="grow"></app-error-card>
  } @else if (accountQuery.data(); as account) {
    <div class="grid w-full grid-cols-2 gap-4 text-sm">
      <div class="flex flex-col gap-4 rounded-lg bg-white p-4">
        <h3 class="font-semibold text-neutral-500">Personal</h3>
        <div>
          <span class="text-neutral-400">Name</span>
          <p>{{ account.name }}</p>
        </div>
        <div>
          <span class="text-neutral-400">Mail</span>
          <p>{{ account.email }}</p>
        </div>
      </div>

      <div class="flex flex-col gap-4 rounded-lg bg-white p-4">
        <h3 class="font-semibold text-neutral-500">Company</h3>
        <div>
          <span class="text-neutral-400">Name</span>
          <p>{{ account.company.name }}</p>
        </div>
        <div>
          <span class="text-neutral-400">Address</span>
          <p>
            {{ account.company.address.street }}, {{ account.company.address.postalCode }}
            {{ account.company.address.city }}
          </p>
        </div>
        <div>
          <span class="text-neutral-400">MaStR-number</span>
          <p>{{ account.company.mastrNumber }}</p>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-2 rounded-lg bg-white p-4">
      <div class="flex justify-between">
        <h3 class="font-semibold text-neutral-500">My PPA Requests</h3>
        <div class="flex gap-2">
          @if (roles.isHydrogenProducer()) {
            <button matButton="filled" (click)="openDialog()">Request PPA</button>
          }
          <a [routerLink]="'/ppa-requests'" matButton="outlined">View all</a>
        </div>
      </div>

      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab [disabled]="!roles.isPowerProducer()">
          <ng-template mat-tab-label>
            <span class="material-symbols-outlined p-2">markunread_mailbox</span>
            Requests received
          </ng-template>
          <app-ppa-requests-overview [role]="PpaRequestRole.RECEIVER" />
        </mat-tab>
        <mat-tab [disabled]="!roles.isHydrogenProducer()">
          <ng-template mat-tab-label>
            <span class="material-symbols-outlined p-2">outgoing_mail</span>
            Requests sent
          </ng-template>
          <app-ppa-requests-overview [role]="PpaRequestRole.SENDER" />
        </mat-tab>
      </mat-tab-group>
    </div>
  }
</div>
