<div class="flex flex-col gap-4">
  @if (accountQuery.isLoading()) {
    <app-loading-card></app-loading-card>
  } @else if (accountQuery.isError()) {
    <app-error-card [error]="accountQuery.error()" class="grow"></app-error-card>
  } @else if (accountQuery.data(); as account) {
    <div class="rounded-lg bg-white p-5 text-sm">
      <div class="mb-4">
        <h3 class="font-semibold text-neutral-600">Profile Information</h3>
      </div>

      <div class="grid grid-cols-1 gap-4 xl:grid-cols-2">
        <div class="border-primary-200 bg-primary-50 flex flex-col gap-3 rounded-md border p-4">
          <h4 class="flex items-center gap-2 font-semibold text-neutral-500">
            <span class="material-symbols-outlined text-primary-600">badge</span>
            Personal
          </h4>
          <p class="text-neutral-700">{{ account.name }}</p>
          <p class="text-neutral-700">{{ account.email }}</p>
        </div>

        <div class="flex flex-col gap-3 rounded-md border border-neutral-200 bg-white p-4">
          <h4 class="flex items-center gap-2 font-semibold text-neutral-500">
            <span class="material-symbols-outlined text-neutral-500">business</span>
            Company
          </h4>
          <p class="text-neutral-700">{{ account.company.name }}</p>
          <p class="text-neutral-700">
            {{ account.company.address.street }}, {{ account.company.address.postalCode }}
            {{ account.company.address.city }}
          </p>
          <p class="text-neutral-700">{{ account.company.mastrNumber }}</p>
        </div>
      </div>
    </div>

    <div class="rounded-lg bg-white p-5 text-sm">
      <div class="mb-4 flex justify-between">
        <h3 class="font-semibold text-neutral-600">My PPA Requests</h3>

        <div class="flex gap-2">
          @if (roles.isHydrogenProducer()) {
            <button matButton="filled" (click)="openDialog()">Request PPA</button>
          }
          <a [routerLink]="H2TrustRouterLinks.PPA_REQUESTS" matButton="outlined">View all</a>
        </div>
      </div>

      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab [disabled]="!roles.isPowerProducer()">
          <ng-template mat-tab-label>
            <span class="material-symbols-outlined p-2">markunread_mailbox</span>
            Requests received
          </ng-template>
          <app-ppa-requests-overview [role]="PpaRequestRole.RECEIVER" />
        </mat-tab>
        <mat-tab [disabled]="!roles.isHydrogenProducer()">
          <ng-template mat-tab-label>
            <span class="material-symbols-outlined p-2">outgoing_mail</span>
            Requests sent
          </ng-template>
          <app-ppa-requests-overview [role]="PpaRequestRole.SENDER" />
        </mat-tab>
      </mat-tab-group>
    </div>
  }
</div>
