<div
  class="rounded-xl border-[3px] border-neutral-100 p-4 hover:cursor-pointer hover:border-neutral-200/80"
  (click)="sheet.open()"
  role="none"
>
  <div class="flex w-full !select-none flex-row items-center gap-4 text-neutral-400">
    <div class="bg-primary-200/30 flex min-w-14 items-center justify-center rounded-full p-2 text-center">
      <span class="material-symbols-outlined text-4xl text-white">{{ getIcon(topic().key) }}</span>
    </div>
    <span class="grow text-xs text-neutral-500">
      Calculation details for
      <p class="text-lg">{{ topic().key | prettyEnum | titlecase }}</p></span
    >
    <span class="material-symbols-outlined text-3xl text-neutral-400">chevron_right</span>
  </div>
</div>

<app-base-sheet #sheet>
  <span class="font-semibold text-neutral-500">{{ topic().key | prettyEnum | titlecase }}</span>
  <div class="flex flex-col gap-4">
    @for (item of topic().items; track $index) {
      <div class="flex w-full flex-col justify-between rounded-xl border-[2px] border-solid border-neutral-100">
        <div
          class="flex w-full justify-between rounded-xl border-b-[2px] border-solid border-neutral-100 bg-neutral-50 p-4 text-neutral-800"
        >
          <h2>
            {{ item.name }}
          </h2>
          <span class="ml-2">{{ item.result | number: '1.2-2' | unit: item.unit }}</span>
        </div>

        <div class="p-4 text-sm text-neutral-500">
          @for (current of item.basisOfCalculation; track $index) {
            <p>{{ current }}</p>
          }
        </div>
      </div>
    }
  </div>
</app-base-sheet>
