<div class="flex flex-col gap-4 p-8">
  <div class="flex flex-row justify-between">
    <h2 class="text-lg text-neutral-500">Production Data</h2>
  </div>

  <div class="flex w-full items-center justify-between gap-2 rounded-md bg-white p-4">
    <div class="flex items-center gap-2">
      <mat-form-field appearance="outline" class="w-[28rem]">
        <mat-label>Search hydrogen production unit or Id</mat-label>
        <input matInput placeholder="Hydrogen...." [formField]="filterForm.unit" />
        @if (filterForm.unit().value()) {
          <button matSuffix matIconButton aria-label="Clear" (click)="filterForm.unit().value.set('')">
            <span class="material-symbols-outlined">close</span>
          </button>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Month and Year</mat-label>
        <input matInput [matDatepicker]="dp" [value]="filterForm.month().controlValue()" [max]="maxDate" />
        @if (filterForm.month().value()) {
          <button matSuffix matIconButton aria-label="Clear" (click)="filterForm.month().value.set(null)">
            <span class="material-symbols-outlined">close</span>
          </button>
        }
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker
          #dp
          startView="multi-year"
          (monthSelected)="setMonthAndYear($event, dp)"
          panelClass="example-month-picker"
        >
        </mat-datepicker>
      </mat-form-field>
    </div>
    <a matButton="filled" [routerLink]="'select'">Add Data</a>
  </div>

  <div class="flex w-full flex-col gap-2">
    <app-production-statistics [filterValue]="filterModel()" class="w-full"></app-production-statistics>
    <div class="flex flex-col gap-4 rounded-lg bg-white py-2">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="producedAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="producedAt"><div class="bold">Produced At</div></th>
          <td mat-cell *matCellDef="let row">
            {{ row.startedAt | date }}
            <p>{{ row.startedAt | date: 'shortTime' }} - {{ row.endedAt | date: 'shortTime' }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="productionUnit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="bold">Hydrogen Production Unit</div>
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.productionUnit | titlecase }}
          </td>
        </ng-container>
        <ng-container matColumnDef="producedAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Hydrogen Produced</div></th>
          <td mat-cell *matCellDef="let row">
            <span class="flex w-full justify-end pr-4">{{ row.producedAmount | unit: MeasurementUnit.KG }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="rfnboType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">RFNBO Type</div></th>
          <td mat-cell *matCellDef="let row"><app-rfnbo-chip [rfnboType]="row.rfnboType"></app-rfnbo-chip></td>
        </ng-container>

        <ng-container matColumnDef="powerProducer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Power Producer</div></th>
          <td mat-cell *matCellDef="let row">
            {{ row.powerProducer }}
            <p class="text-sm text-neutral-500">{{ row.powerProductionUnit }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="powerConsumed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Power Consumed</div></th>
          <td mat-cell *matCellDef="let row">
            <span class="flex w-full justify-end pr-4">{{ row.powerConsumed | unit: MeasurementUnit.KWH }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="powerType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Power Type</div></th>
          <td mat-cell *matCellDef="let row">
            <app-power-type-chip [powerType]="row.powerType"></app-power-type-chip>
          </td>
        </ng-container>
        <ng-container matColumnDef="storageUnit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Hydrogen Storage Unit</div></th>
          <td mat-cell *matCellDef="let row">{{ row.storageUnit }}</td>
        </ng-container>

        <!-- No data row -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell p-4">No data found.</td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <div class="flex flex-col gap-4 rounded-lg bg-white py-1">
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        [length]="totalItems"
        [pageSize]="pagination().pageSize"
        [pageIndex]="0"
        aria-label="Select page of users"
        (page)="onPageChange($event)"
      ></mat-paginator>
    </div>
  </div>
</div>
