<div class="mat-elevation-z8">
  <table mat-table *ngIf="dataSource$ | async as source" [dataSource]="source" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-font-size">Name</th>
      <td mat-cell *matCellDef="let row" class="table-font-size">{{ row.name }}</td>
    </ng-container>
    <ng-container matColumnDef="typeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-font-size">Electrolysis Type</th>
      <td mat-cell *matCellDef="let row" class="table-font-size">{{ row.typeName }}</td>
    </ng-container>
    <ng-container matColumnDef="ratedPower">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-font-size">UnitCapacity</th>
      <td mat-cell *matCellDef="let row" class="table-font-size">{{ row.ratedPower }} MW</td>
    </ng-container>
    <ng-container matColumnDef="producing">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-font-size">Producing</th>
      <td mat-cell *matCellDef="let row" class="table-font-size">
        @if(row.producing){
        <div class="green-orb"></div>
        } @else{
        <div class="red-orb"></div>
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="powerProducer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-font-size">Power Producer</th>
      <td mat-cell *matCellDef="let row" class="table-font-size"></td>
    </ng-container>
    <ng-container matColumnDef="storageUnit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-font-size">Storage Unit</th>
      <td mat-cell *matCellDef="let row" class="table-font-size">{{ row.hydrogenStorageUnit.name }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
