<div class="mat-elevation-z8">
  <table
    mat-table
    fixedLayout="(true)"
    *ngIf="dataSource$ | async as source"
    [dataSource]="source"
    matSort
    class="table-styling"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Name</div></th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>
    <ng-container matColumnDef="typeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Electrolysis Type</div></th>
      <td mat-cell *matCellDef="let row">{{ row.typeName }}</td>
    </ng-container>
    <ng-container matColumnDef="ratedPower">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Rated Power (MW)</div></th>
      <td mat-cell *matCellDef="let row">{{ row.ratedPower | number }}</td>
    </ng-container>
    <ng-container matColumnDef="producing">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Producing</div></th>
      <td mat-cell *matCellDef="let row">
        <div class="orb-container">
          @if(row.producing){
          <span class="green-orb"></span>
          } @else{
          <span class="red-orb"></span>
          }
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="powerProducer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Power Producer</div></th>
      <td mat-cell *matCellDef="let row">
        
      </td>
    </ng-container>
    <ng-container matColumnDef="storageUnit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Storage Unit</div></th>
      <td mat-cell *matCellDef="let row">{{ row.hydrogenStorageUnit.name }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
