<div
  class="items-center gap-4 rounded-xl border-[3px] border-solid border-neutral-100 px-4 py-2 hover:border-neutral-200/80"
>
  @if (isInstanceOfWaterBatch(batch()); as waterBatch) {
    <app-water-batch-card [batch]="waterBatch"> </app-water-batch-card>
  }
  @if (isInstanceOfHydrogenBatch(batch()); as hydrogenBatch) {
    <app-h2-batch-card [batch]="hydrogenBatch"></app-h2-batch-card>
  }
  @if (isInstanceOfPowerBatch(batch()); as powerBatch) {
    <app-power-batch-card [batch]="powerBatch"></app-power-batch-card>
  }
</div>
