<div class="flex flex-col gap-4 p-8">
  <h2 class="text-lg text-neutral-500">Uploads</h2>

  <div class="flex w-full items-center justify-between rounded-md bg-white p-4">
    <div class="flex items-center gap-2">
      <mat-form-field appearance="outline" class="w-[28rem]">
        <mat-label>Search by id, file name or company name</mat-label>
        <input matInput placeholder="Hydrogen...." [formField]="searchForm.input" />
        @if (searchForm.input().value()) {
          <button matSuffix matIconButton aria-label="Clear" (click)="searchForm.input().value.set('')">
            <span class="material-symbols-outlined">close</span>
          </button>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select [formField]="searchForm.fileType">
          @for (type of displayedCsvContentTypes; track $index) {
            <mat-option [value]="type.value">
              {{ type.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input readonly matStartDate placeholder="Start date" [formField]="searchForm.start" />
          <input [formField]="searchForm.end" matEndDate readonly placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button matButton="tonal" (click)="clearFilters()" class="flex flex-row items-center">Clear filters</button>
    </div>

    <app-download-button [selectedFiles]="selection"></app-download-button>
  </div>

  <div class="flex w-full flex-col gap-2">
    <div class="flex flex-col gap-4 rounded-lg bg-white py-2">
      <table mat-table [dataSource]="dataSource" matSort matSortDisableClear>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? toggleAllRows() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef><div class="bold">Name</div></th>
          <td mat-cell *matCellDef="let file">
            {{ file.name }}
            <p class="text-xs text-neutral-500">{{ file.id }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="uploadedBy">
          <th mat-header-cell *matHeaderCellDef><div class="bold">Uploaded By</div></th>
          <td mat-cell *matCellDef="let file">
            {{ file.uploadedBy }}
          </td>
        </ng-container>

        <ng-container matColumnDef="startedAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Started At</div></th>
          <td mat-cell *matCellDef="let file">{{ file.startedAt | date }}, {{ file.startedAt | date: 'shortTime' }}</td>
        </ng-container>

        <ng-container matColumnDef="endedAt">
          <th mat-header-cell *matHeaderCellDef><div class="bold">Ended At</div></th>
          <td mat-cell *matCellDef="let file">{{ file.endedAt | date }}, {{ file.endedAt | date: 'shortTime' }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef><div class="bold">Type</div></th>
          <td mat-cell *matCellDef="let file">
            <app-file-type-color-chip [fileType]="file.csvContentType"></app-file-type-color-chip>
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Amount</div></th>
          <td mat-cell *matCellDef="let file">
            {{ file.amount | unit: (file.csvContentType === 'HYDROGEN' ? MeasurementUnit.KG_H2 : MeasurementUnit.KWH) }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let file; columns: displayedColumns" class="group"></tr>

        <!-- No data row -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell p-4">No data found.</td>
        </tr>
      </table>
    </div>
    <div class="flex flex-col gap-4 rounded-lg bg-white py-1">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
