<div class="flex flex-col gap-4 p-8">
  <div class="flex flex-row justify-between">
    <h2 class="text-lg text-neutral-500">Uploaded Files</h2>
  </div>

  <div class="flex w-full flex-row justify-between">
    <mat-form-field appearance="outline" class="w-[28rem]">
      <mat-label>Search by file or company name</mat-label>
      <input matInput placeholder="Hydrog...." [formControl]="searchControl" />
      @if (searchControl.value) {
        <button matSuffix matIconButton aria-label="Clear" (click)="searchControl.patchValue(null)">
          <span matSuffix class="material-symbols-outlined pr-2">close</span>
        </button>
      }
    </mat-form-field>
    <div class="flex justify-end gap-2">
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select [value]="typeToShow$()" (selectionChange)="toggle($event.value)">
          <mat-option *ngFor="let type of displayCsvContentTypes" [value]="type.value"> {{ type.name }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" (dateChange)="setStart($event.value)" />
          <input matEndDate placeholder="End date" (dateChange)="setEnd($event.value)" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="flex w-full flex-col gap-2">
    <div class="flex flex-col gap-4 rounded-lg bg-white py-2">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef><div class="bold">Name</div></th>
          <td mat-cell *matCellDef="let row">
            {{ row.name }}
            <p class="text.sm text-neutral-500">{{ row.id }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="uploadedBy">
          <th mat-header-cell *matHeaderCellDef><div class="bold">Uploaded By</div></th>
          <td mat-cell *matCellDef="let row">
            {{ row.uploadedBy }}
          </td>
        </ng-container>

        <ng-container matColumnDef="startedAt">
          <th mat-header-cell *matHeaderCellDef><div class="bold">Started at</div></th>
          <td mat-cell *matCellDef="let row">{{ row.startedAt | date }}, {{ row.startedAt | date: 'shortTime' }}</td>
        </ng-container>

        <ng-container matColumnDef="endedAt">
          <th mat-header-cell *matHeaderCellDef><div class="bold">Ended at</div></th>
          <td mat-cell *matCellDef="let row">{{ row.endedAt | date }}, {{ row.endedAt | date: 'shortTime' }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef><div class="bold">Type</div></th>
          <td mat-cell *matCellDef="let row">
            <div
              class="flex w-fit flex-row items-center gap-2 rounded-lg border-[1px] px-2 py-1 text-sm"
              [ngClass]="
                row.csvContentType === 'HYDROGEN'
                  ? '!bg-secondary-100 border-secondary-200 text-secondary-600'
                  : '!bg-primary-100 border-primary-200 text-primary-600'
              "
            >
              {{ row.csvContentType | titlecase }} Production
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef><div class="bold"></div></th>
          <td mat-cell *matCellDef="let row">
            <a
              matTooltip="download"
              class="opacity-0 transition-opacity duration-150 group-hover:opacity-100"
              [href]="row.url"
              download
            >
              <span class="material-symbols-outlined text-neutral-400">download</span>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="group"></tr>
      </table>
    </div>
    <div class="flex flex-col gap-4 rounded-lg bg-white py-1">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
