@if (verifying) {
  <button matMiniFab disabled class="!w-36 gap-1">
    <span class="flex flex-row items-center gap-2">
      <span class="material-symbols-outlined animate-spin" matButtonPrefix>progress_activity</span>
      Verifiying...
    </span>
  </button>
} @else if (!result || result.status === 'FAILED') {
  <button matMiniFab (click)="verify()" class="!w-36 !bg-secondary-200">Verifiy</button>
} @else {
  <button matMiniFab (click)="sheet.open()" class="!w-36 !bg-neutral-200">Details</button>
}

<app-base-sheet #sheet>
  <app-verification-details [result]="result"></app-verification-details>
</app-base-sheet>
