<div class="relative">
  <button
    (mouseenter)="showComplianceInfo = true"
    (mouseleave)="showComplianceInfo = false"
    class="flex w-[12rem] flex-row items-center gap-2 rounded-md p-2 text-sm duration-300 ease-in-out hover:scale-105"
    [ngClass]="
      redCompliance()?.isRfnboReady ? 'bg-secondary-100 text-secondary-600' : 'bg-neutral-200 text-neutral-600'
    "
  >
    <span class="material-symbols-outlined">
      {{ redCompliance()?.isRfnboReady ? 'editor_choice' : 'release_alert' }}</span
    >
    <span>
      {{ redCompliance()?.isRfnboReady ? 'RFNBO Ready' : 'Non Certifiable' }}
    </span>
  </button>
  @if (redCompliance(); as redCompliance) {
    <div
      [ngClass]="showComplianceInfo ? 'pointer-events-auto opacity-100' : 'pointer-events-none opacity-0'"
      class="absolute left-[-16rem] top-[3rem] z-20 flex w-[46rem] flex-row gap-2 rounded-xl border-2 border-neutral-100 bg-white p-2 shadow-2xl transition-opacity duration-300 2xl:top-[3rem]"
    >
      <div
        class="flex w-1/3 flex-col justify-center rounded-lg pl-4 pr-8 text-sm"
        [ngClass]="
          redCompliance.isRfnboReady ? 'bg-secondary-100 text-secondary-600' : 'bg-neutral-200 text-neutral-600'
        "
      >
        <span class="material-symbols-outlined text-3xl">
          {{ redCompliance.isRfnboReady ? 'editor_choice' : 'release_alert' }}</span
        >
        <span class="font-semibold">{{ redCompliance.isRfnboReady ? 'RFNBO Ready' : 'Non Certifiable' }}</span>
        <p>The calculation is based on RED III</p>
      </div>
      <div class="flex w-2/3 flex-col gap-3 py-4 pr-4">
        @if (isRenewableDto(redCompliance)) {
          <app-red-check-card
            [content]="RED_III_CRITERIA.RENEWABLE_ENERGY.TIME_CORRELATION"
            [isValid]="redCompliance.isTimeCorrelationValid"
          ></app-red-check-card>

          <app-red-check-card
            [content]="RED_III_CRITERIA.RENEWABLE_ENERGY.GEOGRAPHICAL_CORRELATION"
            [isValid]="redCompliance.isGeoCorrelationValid"
          ></app-red-check-card>

          <app-red-check-card
            [content]="RED_III_CRITERIA.RENEWABLE_ENERGY.ADDITIONALITY_REQUIREMENT"
            [isValid]="redCompliance.isAdditionalityFulfilled"
          ></app-red-check-card>

          <app-red-check-card
            [content]="RED_III_CRITERIA.RENEWABLE_ENERGY.FINANCIAL_SUPPORT"
            [isValid]="redCompliance.financialSupportReceived"
          ></app-red-check-card>
        }
        @if (isGridDto(redCompliance)) {
          <app-red-check-card
            [content]="RED_III_CRITERIA.GRID_ENERGY.CURTAILMENT_AVOIDED"
            [isValid]="redCompliance.isCurtailmentAvoided"
          ></app-red-check-card>
          <app-red-check-card
            [content]="RED_III_CRITERIA.GRID_ENERGY.GRID_GHG_INTENSITY"
            [isValid]="redCompliance.isGridGHGIntensityLow"
          ></app-red-check-card>
          <app-red-check-card
            [content]="RED_III_CRITERIA.GRID_ENERGY.RENEWABLES_IN_GRID"
            [isValid]="redCompliance.hasHighRenewableShare"
          ></app-red-check-card>
        }
        <app-red-check-card
          [content]="RED_III_CRITERIA.EMISSION_REDUCTION"
          [isValid]="redCompliance.isReductionOver70Percent"
        ></app-red-check-card>
      </div>
    </div>
  }
</div>
