<div
  class="flex flex-col gap-2 rounded-lg border border-neutral-300 bg-linear-to-bl to-white to-40% py-4"
  [ngClass]="{
    'from-tertiary-50': request().status === PowerPurchaseAgreementStatus.PENDING,
    'from-error-red/20': request().status === PowerPurchaseAgreementStatus.REJECTED,
    'from-secondary-100': request().status === PowerPurchaseAgreementStatus.APPROVED,
    'cursor-pointer hover:-translate-y-1': request().status !== PowerPurchaseAgreementStatus.PENDING,
  }"
  (click)="request().status !== PowerPurchaseAgreementStatus.PENDING && sheet.open()"
  role="none"
>
  <div class="flex justify-between px-4">
    <div>
      <strong>{{ request().sender.company.name }}</strong>
      <p class="text-xs text-neutral-400">{{ request().sender.name }} • {{ dateLable }}</p>
    </div>
    <app-ppa-status-chip [status]="request().status"></app-ppa-status-chip>
  </div>

  <mat-divider />

  <div class="flex flex-col gap-1 px-4 text-sm">
    <span class="flex justify-between">
      <span class="text-neutral-500">Created on</span> {{ request().decidedAt | date }}
    </span>
    <span class="flex justify-between">
      <span class="text-neutral-500">Valid</span>
      <span>{{ request().validFrom | date: 'shortDate' }} - {{ request().validTo | date: 'shortDate' }}</span>
    </span>
    @if (request().status === PowerPurchaseAgreementStatus.PENDING) {
      <span class="flex justify-between">
        <span class="text-neutral-500">Requested type</span>
        {{ request().powerProductionType | prettyEnum | titlecase }}
      </span>
    }
  </div>

  @if (request().status === PowerPurchaseAgreementStatus.PENDING && role() === PpaRequestRole.RECEIVER) {
    <div class="dash border border-dashed border-neutral-200"></div>
    <div class="flex gap-2 px-4 pt-2">
      <button
        matButton="outlined"
        class="delete-button-outlined flex-1"
        (click)="openDialog(PowerPurchaseAgreementStatus.REJECTED)"
      >
        <span class="flex items-center gap-2 pr-2"
          ><span class="material-symbols-outlined text-xl">close</span> Reject</span
        >
      </button>
      <button matButton="outlined" class="flex-1" (click)="openDialog(PowerPurchaseAgreementStatus.APPROVED)">
        <span class="flex items-center gap-2 pr-2"
          ><span class="material-symbols-outlined text-xl">check</span> Approve</span
        >
      </button>
    </div>
  }
</div>

<app-base-sheet #sheet>
  <div
    class="flex flex-col gap-2 rounded-lg border bg-linear-to-bl to-white to-40% py-4"
    [ngClass]="{
      'from-tertiary-50': request().status === PowerPurchaseAgreementStatus.PENDING,
      'from-error-red/20': request().status === PowerPurchaseAgreementStatus.REJECTED,
      'from-secondary-100': request().status === PowerPurchaseAgreementStatus.APPROVED,
    }"
  >
    <div class="flex justify-between px-4">
      <div>
        <strong>{{ request().sender.company.name }}</strong>
        <p class="text-xs text-neutral-400">{{ request().sender.name }} • {{ dateLable }}</p>
      </div>
      <app-ppa-status-chip [status]="request().status"></app-ppa-status-chip>
    </div>

    <mat-divider />

    <div class="flex flex-col gap-1 px-4 text-sm">
      <span class="flex justify-between">
        <span class="text-neutral-500">Created on</span> {{ request().createdAt | date }}
      </span>
      <span class="flex justify-between">
        <span class="text-neutral-500">Created by</span> {{ request().sender.name }}
      </span>

      <span class="flex justify-between">
        <span class="text-neutral-500">Valid</span>
        <span>{{ request().validFrom | date: 'shortDate' }} - {{ request().validTo | date: 'shortDate' }}</span>
      </span>
      <span class="flex justify-between">
        <span class="text-neutral-500">Requested type</span>
        {{ request().powerProductionType | prettyEnum | titlecase }}
      </span>
      @if (request().status !== PowerPurchaseAgreementStatus.PENDING) {
        <span class="flex justify-between">
          <span class="text-neutral-500">Power Production Unit</span> {{ request().powerProductionUnit?.name }}
        </span>

        <span class="flex justify-between">
          <span class="text-neutral-500">Decided on</span> {{ request().decidedAt | date }}
        </span>
        <span class="flex justify-between">
          <span class="text-neutral-500">Decided by</span> {{ request().decidedBy }}
        </span>
      }
    </div>

    @if (request().status !== PowerPurchaseAgreementStatus.PENDING) {
      <mat-divider />
      <div class="px-4 text-sm text-neutral-600">
        <p class="text-neutral-500">
          @if (role() === PpaRequestRole.RECEIVER) {
            Your Comment
          } @else {
            Comment from {{ request().receiver.name }}
          }
        </p>
        <p>{{ request().comment ?? 'No comment available.' }}</p>
      </div>
    }
  </div>
</app-base-sheet>
