<div
  class="flex flex-col gap-2 rounded-lg border border-neutral-300 bg-linear-to-bl to-white to-40% py-4"
  [ngClass]="{
    'from-tertiary-50': request().status === PowerPurchaseAgreementStatus.PENDING,
    'from-error-red/20': request().status === PowerPurchaseAgreementStatus.REJECTED,
    'from-secondary-100': request().status === PowerPurchaseAgreementStatus.APPROVED,
    'cursor-pointer hover:-translate-y-1': request().status !== PowerPurchaseAgreementStatus.PENDING,
  }"
  (click)="request().status !== PowerPurchaseAgreementStatus.PENDING && sheet.open()"
  role="none"
>
  <div class="flex justify-between px-4">
    <div>
      <strong class="text-neutral-700">{{
        role() === PpaRequestRole.RECEIVER ? request().sender.company.name : request().receiver.name
      }}</strong>
      <p class="text-xs text-neutral-400">
        @if (role() === PpaRequestRole.RECEIVER) {
          {{ request().sender.name }} •
        }
        {{ dateLable }}
      </p>
    </div>
    <app-ppa-status-chip [status]="request().status"></app-ppa-status-chip>
  </div>

  <mat-divider />

  <div class="flex flex-col gap-1 px-4 text-sm">
    <span class="flex justify-between">
      <span class="text-neutral-500">Valid</span>
      <span>{{ request().validFrom | date: 'mediumDate' }} - {{ request().validTo | date: 'mediumDate' }}</span>
    </span>
    @if (request().status !== PowerPurchaseAgreementStatus.APPROVED) {
      <span class="flex justify-between">
        <span class="text-neutral-500">Requested type</span>
        {{ request().powerProductionType | enum: 'powerProductionType' }}
      </span>
    }
  </div>

  @if (request().status === PowerPurchaseAgreementStatus.PENDING && role() === PpaRequestRole.RECEIVER) {
    <div class="dash border border-dashed border-neutral-200"></div>
    <div class="flex gap-2 px-4 pt-2">
      <button
        matButton="outlined"
        class="delete-button-outlined flex-1"
        (click)="openDialog(PowerPurchaseAgreementStatus.REJECTED)"
      >
        <span class="flex items-center gap-2 pr-2"
          ><span class="material-symbols-outlined text-xl">close</span> Reject</span
        >
      </button>
      <button matButton="outlined" class="flex-1" (click)="openDialog(PowerPurchaseAgreementStatus.APPROVED)">
        <span class="flex items-center gap-2 pr-2"
          ><span class="material-symbols-outlined text-xl">check</span> Approve</span
        >
      </button>
    </div>
  }
</div>

<app-base-sheet #sheet>
  <div class="flex items-center justify-between pb-4">
    <div>
      <strong class="text-neutral-700">{{
        role() === PpaRequestRole.RECEIVER ? request().sender.company.name : request().receiver.name
      }}</strong>
      <p class="text-xs text-neutral-400">
        @if (role() === PpaRequestRole.RECEIVER) {
          {{ request().sender.name }} •
        }
        {{ dateLable }}
      </p>
    </div>
    <app-ppa-status-chip [status]="request().status"></app-ppa-status-chip>
  </div>

  <div
    class="flex flex-col gap-2 rounded-lg border-2 border-neutral-100 bg-neutral-50 p-4"
    [ngClass]="{
      'from-tertiary-50': request().status === PowerPurchaseAgreementStatus.PENDING,
      'from-error-red/20': request().status === PowerPurchaseAgreementStatus.REJECTED,
      'from-secondary-100': request().status === PowerPurchaseAgreementStatus.APPROVED,
    }"
  >
    <div class="grid grid-cols-2 gap-4 text-sm">
      <span class="col-span-2 text-lg text-neutral-500">Details</span>
      <div>
        <span class="text-neutral-500">Created on</span>
        <p>{{ request().createdAt | date }}</p>
      </div>

      <div>
        <span class="text-neutral-500">Created by</span>
        <p>{{ request().sender.name }}</p>
      </div>

      <div>
        <span class="text-neutral-500">Valid</span>
        <p>{{ request().validFrom | date: 'shortDate' }} - {{ request().validTo | date: 'shortDate' }}</p>
      </div>

      <div>
        <span class="text-neutral-500">Requested type</span>
        <p>{{ request().powerProductionType | enum: 'powerProductionType' }}</p>
      </div>
      @if (request().status !== PowerPurchaseAgreementStatus.PENDING) {
        <div>
          <span class="text-neutral-500">Power Production Unit</span>
          <p>{{ request().powerProductionUnit?.name }}</p>
        </div>

        <span>
          <span class="text-neutral-500">Decided on</span>
          <p>{{ request().decidedAt | date }}</p>
        </span>
        <div>
          <span class="text-neutral-500">Decided by</span>
          <p>{{ request().decidedBy }}</p>
        </div>

        <div class="col-span-2">
          <span class="text-neutral-500">
            @if (role() === PpaRequestRole.RECEIVER) {
              Your Comment
            } @else {
              Comment from {{ request().receiver.name }}
            }
          </span>
          <p>{{ request().comment ?? 'No comment available.' }}</p>
        </div>
      }
    </div>
  </div>
</app-base-sheet>
