<div class="flex flex-col gap-2 rounded-lg bg-white p-4">
  <span><ng-content></ng-content></span>

  <div class="grid gap-2" [ngClass]="types().length > 2 ? 'grid-cols-1 md:grid-cols-3' : 'grid-cols-1 md:grid-cols-2'">
    @for (type of types(); track type) {
      <button
        type="button"
        class="group hover:border-primary-300 flex cursor-pointer flex-col gap-2 rounded-md border-2 p-4 text-left transition-colors hover:shadow-lg"
        [ngClass]="
          typeControl().value === type
            ? 'border-primary-500 bg-primary-50 text-primary-900 ring-primary-200 ring-1'
            : 'border-neutral-300 bg-white text-neutral-600'
        "
        (click)="selectType(type)"
      >
        <div
          class="group-hover:border-primary-300 group-hover:bg-primary-100 flex size-10 items-center justify-center rounded-full border transition-colors"
          [ngClass]="
            typeControl().value === type ? 'border-primary-500 bg-primary-200' : 'border-neutral-200 bg-neutral-100'
          "
        >
          <span
            class="material-symbols-outlined group-hover:text-primary-700"
            [ngClass]="typeControl().value === type ? 'text-primary-800' : 'text-neutral-500'"
          >
            {{ getIcon(type) }}
          </span>
        </div>

        <span
          class="group-hover:text-primary-700 text-base"
          [ngClass]="typeControl().value === type ? 'text-primary-800' : 'text-neutral-600'"
          >{{ getLabel(type) }}</span
        >
      </button>
    }
  </div>
</div>
