<div class="flex h-full flex-col gap-4 overflow-auto p-8">
  <div class="flex flex-row items-center gap-2 text-lg text-neutral-500">
    <a [routerLink]="'/units/hydrogen-storage'" class="cursor-pointer hover:underline">Units</a>
    <span class="material-symbols-outlined"> keyboard_arrow_right </span
    ><a [routerLink]="'/units/hydrogen-storage'" class="cursor-pointer hover:underline">Hydrogen Production</a
    ><span class="material-symbols-outlined"> keyboard_arrow_right </span>
    {{ id() }}
  </div>
  @if (unitQuery.data(); as unit) {
    <app-unit-details [unit]="unit"></app-unit-details>

    <div class="rounded-lg bg-white p-4">
      <div class="grid grid-cols-4 gap-4">
        <div class="flex flex-col text-sm">
          <span class="text-sm text-neutral-400">Bidding Zone</span><span>{{ unit.biddingZone }}</span>
        </div>
        <div class="flex flex-col text-sm">
          <span class="text-sm text-neutral-400">Rated Power</span
          ><span>{{ unit.ratedPower | unit: FormattedUnits.MW }}</span>
        </div>
        <div class="flex flex-col text-sm">
          <span class="text-sm text-neutral-400">Method</span><span>{{ unit.method || '--' }}</span>
        </div>
        <div class="flex flex-col text-sm">
          <span class="text-sm text-neutral-400">Technology</span><span>{{ unit.technology || '--' }}</span>
        </div>
        <div class="flex flex-col text-sm">
          <span class="text-sm text-neutral-400">Pressure</span
          ><span>{{ unit.pressure | unit: FormattedUnits.BAR }} </span>
        </div>
        <div class="flex flex-col text-sm">
          <span class="text-sm text-neutral-400">Water Consumption</span
          ><span>{{ unit.waterConsumptionLitersPerHour | unit: FormattedUnits.L_PER_H }}</span>
        </div>
      </div>
    </div>
  }
</div>
