@if (unitQuery.error(); as err) {
  <app-error-card [error]="err" [routerLink]="'/units'" class="grow"></app-error-card>
} @else if (unitQuery.isLoading()) {
  <app-loading-card class="col-span-2 h-full" />
} @else if (unitQuery.data(); as unit) {
  <div class="grid grid-cols-4 gap-2">
    <div class="col-span-3 flex flex-col gap-2">
      <app-unit-card [unit]="unit" [showActions]="false" class="rounded-lg bg-white p-4"></app-unit-card>

      <app-unit-details [unit]="unit" class="rounded-lg bg-white p-4"></app-unit-details>
      <div class="rounded-lg bg-white p-4">
        <h3 class="pb-4 text-neutral-500">Type Specific Information</h3>

        @if (isHydrogenProductionUnitDetails(unit)) {
          <div class="grid grid-cols-3 gap-4 xl:grid-cols-4">
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Bidding Zone</span><span>{{ unit.biddingZone }}</span>
            </div>
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Rated Power</span
              ><span>{{ unit.ratedPower | unit: MeasurementUnit.MW }}</span>
            </div>
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Method</span
              ><span>{{ unit.method || '--' | enum: 'hydrogenProductionType' }}</span>
            </div>
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Technology</span><span>{{ unit.technology || '--' }}</span>
            </div>
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Water Consumption</span
              ><span>{{ unit.waterConsumptionLitersPerHour | unit: MeasurementUnit.L_PER_H }}</span>
            </div>
          </div>
        } @else if (isHydrogenStorageUnitDetails(unit)) {
          <div class="grid grid-cols-3 gap-4 xl:grid-cols-4">
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Capacity</span
              ><span>{{ unit.capacity | unit: MeasurementUnit.KG }}</span>
            </div>
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Storage Type</span
              ><span>{{ unit.storageType || '--' | enum: 'hydrogenStorageType' }}</span>
            </div>
          </div>
        } @else if (isPowerProductionUnitDetails(unit)) {
          <div class="grid grid-cols-3 gap-4 xl:grid-cols-4">
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Bidding Zone</span><span>{{ unit.biddingZone }}</span>
            </div>
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Rated Power</span
              ><span>{{ unit.ratedPower | unit: MeasurementUnit.MW }}</span>
            </div>
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Power Production Type</span
              ><span>{{ unit.type | enum: 'powerProductionType' }}</span>
            </div>
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Decommissioning Planned On</span
              ><span>{{ unit.decommissioningPlannedOn | date }}</span>
            </div>
            <div class="flex flex-col text-sm">
              <span class="flex flex-row items-center gap-2 text-sm text-neutral-400"
                >Financial Support
                <app-info-tooltip
                  [tooltip]="RFNBO_CRITERIA.RENEWABLE_ENERGY.FINANCIAL_SUPPORT.DESCRIPTION"
                ></app-info-tooltip>
              </span>
              <span>{{ unit.financialSupportReceived | bool }}</span>
            </div>
          </div>
        } @else if (isTransportUnitDetails(unit)) {
          <div class="grid grid-cols-3 gap-4 xl:grid-cols-4">
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Transport Type</span
              ><span>{{ unit.type | enum: 'transportType' }}</span>
            </div>
            <div class="flex flex-col text-sm">
              <span class="text-sm text-neutral-400">Fuel Type</span><span>{{ unit.fuelType | enum: 'fuelType' }}</span>
              @if (unit.type === TransportType.PIPELINE) {
                <span>--</span>
              }
            </div>
          </div>
        } @else {
          <p class="text-sm">No further details available for this unit type.</p>
        }
      </div>
    </div>
    <app-unit-actions [unit]="{ id: unit.id, active: unit.active }" (statusChange)="onUnitStatusChange()" />
  </div>
}
