<div class="flex h-full flex-col gap-4 overflow-auto p-8">
  <div class="flex flex-row items-center gap-2 text-lg text-neutral-500">
    <a [routerLink]="'/units'" class="cursor-pointer hover:underline">Units</a>
    <span class="material-symbols-outlined"> keyboard_arrow_right </span> {{ id() }}
  </div>
  @if (unitQuery.error(); as err) {
    <app-error-card [message]="err.message"></app-error-card>
  } @else if (unitQuery.isLoading()) {
    <div class="col-span-2 h-[16rem] w-full animate-pulse rounded-md bg-white"></div>
  }
  @if (unitQuery.data(); as unit) {
    <app-unit-details [unit]="unit"></app-unit-details>

    <div class="rounded-lg bg-white p-4">
      <h3 class="pb-4 font-semibold text-neutral-500">Additional Information</h3>

      <div class="grid grid-cols-4 gap-4">
        <div class="flex flex-col text-sm">
          <span class="text-sm text-neutral-400">Capacity</span
          ><span>{{ unit.capacity | unit: MeasurementUnit.KG }}</span>
        </div>
        <div class="flex flex-col text-sm">
          <span class="text-sm text-neutral-400">Pressure</span
          ><span>{{ unit.pressure | unit: MeasurementUnit.BAR }}</span>
        </div>
        <div class="flex flex-col text-sm">
          <span class="text-sm text-neutral-400">Storage Type</span><span>{{ unit.storageType || '--' }}</span>
        </div>
      </div>
    </div>
  }
</div>
