<div class="flex flex-col gap-4">
  <div class="flex justify-between rounded-md bg-white p-4 text-sm">
    <div>
      <h3 class="text-lg font-semibold text-neutral-600">My PPA Requests</h3>
      <p class="text-neutral-400">View and manage power purchase agreement requests you have sent or received.</p>
    </div>

    @if (roles.isHydrogenProducer()) {
      <button matButton="filled" (click)="openDialog()">Request PPA</button>
    }
  </div>

  @if (ppaRequestsReceivedQuery.isLoading() || ppaRequestsSentQuery.isLoading()) {
    <app-loading-card></app-loading-card>
  } @else if (ppaRequestsReceivedQuery.isError() || ppaRequestsSentQuery.isError()) {
    <app-error-card
      [error]="ppaRequestsReceivedQuery.error() ?? ppaRequestsSentQuery.error() ?? undefined"
    ></app-error-card>
  } @else {
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="rounded-md bg-white px-4 pt-2" dynamicHeight>
      <mat-tab [disabled]="!roles.isPowerProducer()">
        <ng-template mat-tab-label>
          <span class="material-symbols-outlined p-2">markunread_mailbox</span>
          <span
            class="p-1"
            matBadge="!"
            matBadgeSize="small"
            [matBadgeHidden]="ppaRequestsReceived().pending.length === 0"
            [matBadgeOverlap]="false"
            [matBadgePosition]="'above after'"
          >
            Inbox</span
          >
        </ng-template>

        <app-ppa-requests-list [role]="PpaRequestRole.RECEIVER" [data]="ppaRequestsReceived()" />
      </mat-tab>

      <mat-tab [disabled]="!roles.isHydrogenProducer()">
        <ng-template mat-tab-label>
          <span class="material-symbols-outlined p-2">outgoing_mail</span>
          Outbox
        </ng-template>

        <app-ppa-requests-list [role]="PpaRequestRole.SENDER" [data]="ppaRequestsSent()" />
      </mat-tab>
    </mat-tab-group>
  }
</div>
