<app-proof-of-origin-card [icon]="'clock_loader_10 '" (click)="sheet.open()" class="cursor-pointer">
  <div>
    <h3 class="text-base">
      {{ batch().createdAt | date: 'mediumDate' }}, {{ batch().createdAt | date: 'shortTime' }} -
      {{ batch().accountingPeriodEnd | date: 'shortTime' }}
    </h3>
    <p class="text-sm text-neutral-500">
      {{ batch().emission.amountCO2 | unit: MeasurementUnit.G_CO2 }}
    </p>
  </div>
  <span>{{ batch().amount | unit: batch().unit }} </span>
</app-proof-of-origin-card>

<app-base-sheet #sheet>
  <div class="flex flex-col gap-4">
    <div>
      <div class="flex w-full items-center justify-between">
        <h3>Power Batch</h3>
      </div>
      <span class="text-sm text-neutral-400"> Generation-Id: {{ batch().id }}</span>
    </div>

    <div class="grid grid-cols-2 gap-4 rounded-xl border-[2px] border-solid border-neutral-100 bg-neutral-50 p-4">
      <span class="col-span-2 text-neutral-600">Batch Details</span>

      <div class="flex flex-col text-sm">
        <span class="text-sm text-neutral-500">Created at:</span
        ><span>{{ batch().createdAt | date: 'mediumDate' }}</span>
      </div>
      <div class="flex flex-col text-sm">
        <span class="text-sm text-neutral-500">Accounting Period:</span
        ><span
          >{{ batch().createdAt | date: 'shortTime' }} - {{ batch().accountingPeriodEnd | date: 'shortTime' }}</span
        >
      </div>

      <div class="flex flex-col text-sm">
        <span class="text-sm text-neutral-500">Producer:</span><span>{{ batch().producer }}</span>
      </div>
      <div class="flex flex-col text-sm">
        <span class="text-sm text-neutral-500">Unit-Id:</span><span>{{ batch().unitId }}</span>
      </div>
    </div>
    <app-batch-emissions [emissions]="batch().emission"></app-batch-emissions>
  </div>
</app-base-sheet>
