<div class="flex flex-col gap-4 p-8">
  <h2 class="text-lg text-neutral-800">Units</h2>

  <div class="flex w-full justify-between">
    <mat-chip-set aria-label="List filter">
      <mat-chip-option
        selectable
        [selected]="typeToShow === UnitType.HYDROGEN_PRODUCTION"
        (click)="toggle(UnitType.HYDROGEN_PRODUCTION)"
      >
        Hydrogen Production
      </mat-chip-option>

      <mat-chip-option
        selectable
        [selected]="typeToShow === UnitType.POWER_PRODUCTION"
        (click)="toggle(UnitType.POWER_PRODUCTION)"
      >
        Power Production
      </mat-chip-option>

      <mat-chip-option
        selectable
        [selected]="typeToShow === UnitType.HYDROGEN_STORAGE"
        (click)="toggle(UnitType.HYDROGEN_STORAGE)"
      >
        Hydrogen Storage
      </mat-chip-option>

      <mat-chip-option selectable [selected]="!typeToShow" (click)="toggle(null)"> All </mat-chip-option>
    </mat-chip-set>
    <button [routerLink]="'create'" mat-flat-button>Add Unit</button>
  </div>

  <mat-divider></mat-divider>

  <div class="grid grid-cols-3 gap-4 xl:grid-cols-4">
    @if (!typeToShow || typeToShow === UnitType.HYDROGEN_PRODUCTION) {
      @for (item of hydrogenProductionQuery.data(); track $index) {
        <a class="group flex flex-col rounded-lg hover:shadow-lg" [routerLink]="['hydrogen-production', item.id]">
          <div class="flex flex-row gap-4 rounded-t-lg bg-secondary-100 p-4 group-hover:bg-secondary-200/80">
            <span class="flex items-center gap-4 rounded-xl bg-white p-2 text-secondary-600">
              <span class="material-symbols-outlined"> {{ ICONS.UNITS.HYDROGEN_PRODUCTION }}</span>
            </span>
            <div class="flex flex-col justify-center text-sm">
              <span class="font-semibold"> {{ item.name }}</span>
              <span class="text-secondary-700">Hydrogen Production Unit</span>
            </div>
          </div>
          <div class="h-full rounded-b-lg bg-white p-4">
            <mat-chip-set aria-label="attributes">
              <mat-chip>
                <span matChipAvatar class="material-symbols-outlined">charger</span>
                {{ item.ratedPower | unit: MeasurementUnit.KWH }}</mat-chip
              >
              <mat-chip>
                <span matChipAvatar class="material-symbols-outlined">lab_panel</span>{{ item.technology }}</mat-chip
              >
            </mat-chip-set>
          </div>
        </a>
      }
    }
    @if (!typeToShow || typeToShow === UnitType.HYDROGEN_STORAGE) {
      @for (item of hydrogenStorageQuery.data(); track $index) {
        <a class="group flex flex-col rounded-lg hover:shadow-lg" [routerLink]="['hydrogen-storage', item.id]">
          <div class="flex flex-row gap-4 rounded-t-lg bg-neutral-200 p-4 group-hover:bg-neutral-300">
            <span class="flex items-center gap-4 rounded-xl bg-white p-2 text-neutral-600">
              <span class="material-symbols-outlined"> {{ ICONS.UNITS.HYDROGEN_STORAGE }}</span>
            </span>
            <div class="flex flex-col justify-center text-sm">
              <span class="font-semibold"> {{ item.name }}</span>
              <span class="text-neutral-600">Hydrogen Storage Unit</span>
            </div>
          </div>
          <div class="h-full rounded-b-lg bg-white p-4">
            <mat-chip-set aria-label="attributes">
              <mat-chip>
                <span matChipAvatar class="material-symbols-outlined">bar_chart</span> {{ item.filling }}/{{
                  item.capacity | unit: MeasurementUnit.KG
                }}</mat-chip
              >
              <mat-chip>
                <span matChipAvatar class="material-symbols-outlined">label</span>
                {{ item.storageType | prettyEnum | titlecase }}</mat-chip
              >
            </mat-chip-set>
          </div>
        </a>
      }
    }

    @if (!typeToShow || typeToShow === UnitType.POWER_PRODUCTION) {
      @for (item of powerProductionQuery.data(); track $index) {
        <a class="group flex flex-col rounded-lg hover:shadow-lg" [routerLink]="['power-production', item.id]">
          <div class="flex flex-row gap-4 rounded-t-lg bg-primary-100 p-4 group-hover:bg-primary-200">
            <span class="flex items-center gap-4 rounded-xl bg-white p-2 text-primary-600">
              <span class="material-symbols-outlined"> {{ ICONS.UNITS.POWER_PRODUCTION }}</span>
            </span>
            <div class="flex flex-col justify-center text-sm">
              <span class="font-semibold"> {{ item.name }}</span>
              <span class="text-neutral-600">Power Production Unit</span>
            </div>
          </div>
          <div class="h-full rounded-b-lg bg-white p-4">
            <mat-chip-set aria-label="attributes">
              <mat-chip
                ><span matChipAvatar class="material-symbols-outlined">charger</span>
                {{ item.ratedPower | unit: MeasurementUnit.KWH }}</mat-chip
              >
              <mat-chip>
                <span matChipAvatar class="material-symbols-outlined">category</span>{{ item.typeName }}</mat-chip
              >
            </mat-chip-set>
          </div>
        </a>
      }
    }
  </div>
</div>
