<div class="flex flex-col gap-4 p-8">
  <h2 class="text-lg text-neutral-800">Units</h2>

  <div class="flex w-full justify-between">
    <mat-chip-set aria-label="List filter">
      <mat-chip-option selectable [selected]="showHydrogenProduction" (click)="toggle(UnitType.HYDROGEN_PRODUCTION)">
        Hydrogen Production
      </mat-chip-option>

      <mat-chip-option selectable [selected]="showPowerProduction" (click)="toggle(UnitType.POWER_PRODUCTION)">
        Power Production
      </mat-chip-option>

      <mat-chip-option selectable [selected]="showHydrogenStorage" (click)="toggle(UnitType.HYDROGEN_STORAGE)">
        Hydrogen Storage
      </mat-chip-option>
    </mat-chip-set>
    <button mat-flat-button>add</button>
  </div>

  <mat-divider></mat-divider>

  <div class="grid grid-cols-4 gap-4 lg:grid-cols-3">
    @if (showPowerProduction) {
      @for (item of powerProductionQuery.data(); track $index) {
        <a
          class="hover:border-primary-200 flex flex-col gap-2 rounded-lg border-2 border-white bg-white p-4"
          [routerLink]="['power-production', item.id]"
        >
          <span class="text-primary-800 bg-primary-200 flex w-14 items-center gap-4 rounded-md p-4">
            <span class="material-symbols-outlined"> {{ ICONS.UNITS.POWER_PRODUCTION }}</span>
          </span>
          <div class="flex flex-col gap-1">
            <span class="flex items-center gap-4 text-sm font-semibold"> {{ item.name }}</span>
            <mat-chip-set aria-label="attributes">
              <mat-chip
                ><span matChipAvatar class="material-symbols-outlined">charger</span>
                {{ item.ratedPower | unit: FormattedUnits.KWH }}</mat-chip
              >
              <mat-chip>
                <span matChipAvatar class="material-symbols-outlined">category</span>{{ item.typeName }}</mat-chip
              >
            </mat-chip-set>
          </div>
        </a>
      }
    }

    @if (showHydrogenProduction) {
      @for (item of hydrogenProductionQuery.data(); track $index) {
        <a
          class="hover:border-secondary-200 flex flex-col gap-2 rounded-lg border-2 border-white bg-white p-4"
          [routerLink]="['hydrogen-production', item.id]"
        >
          <span class="text-secondary-800 bg-secondary-200 flex w-14 items-center gap-4 rounded-md p-4">
            <span class="material-symbols-outlined"> {{ ICONS.UNITS.HYDROGEN_PRODUCTION }}</span>
          </span>
          <div class="flex flex-col gap-1">
            <span class="flex items-center gap-4 text-sm font-semibold"> {{ item.name }}</span>
            <mat-chip-set aria-label="attributes">
              <mat-chip>
                <span matChipAvatar class="material-symbols-outlined">charger</span>
                {{ item.ratedPower | unit: FormattedUnits.KWH }}</mat-chip
              >
              <mat-chip>
                <span matChipAvatar class="material-symbols-outlined">lab_panel</span>{{ item.technology }}</mat-chip
              >
            </mat-chip-set>
          </div>
        </a>
      }
    }

    @if (showHydrogenStorage) {
      @for (item of hydrogenStorageQuery.data(); track $index) {
        <a
          class="flex flex-col gap-2 rounded-lg border-2 border-white bg-white p-4 hover:border-neutral-200"
          [routerLink]="['hydrogen-storage', item.id]"
        >
          <span class="flex w-14 items-center gap-4 rounded-md bg-neutral-200 p-4 text-neutral-600">
            <span class="material-symbols-outlined"> {{ ICONS.UNITS.HYDROGEN_STORAGE }}</span>
          </span>
          <div class="flex flex-col gap-1">
            <span class="flex items-center gap-4 text-sm font-semibold"> {{ item.name }}</span>

            <mat-chip-set aria-label="attributes">
              <mat-chip>
                <span matChipAvatar class="material-symbols-outlined">bar_chart</span> {{ item.filling }}/{{
                  item.capacity | unit: FormattedUnits.KG
                }}</mat-chip
              >
              <mat-chip>
                <span matChipAvatar class="material-symbols-outlined">label</span>
                {{ item.storageType | prettyEnum | titlecase }}</mat-chip
              >
            </mat-chip-set>
          </div>
        </a>
      }
    }
  </div>
</div>
