<div class="flex h-full w-full items-center justify-center">
  <div
    class="from-error-red/0 flex min-h-full w-3xl flex-col items-center justify-center rounded-full bg-radial to-transparent to-70% text-sm text-neutral-700"
  >
    <div
      class="shadow-error-red/20 border-error-red/30 my-8 flex w-sm flex-col items-center gap-4 rounded-2xl border bg-neutral-50 px-8 py-16 shadow-2xl"
    >
      <span
        class="material-symbols-outlined bg-error-red/20 border-error-red text-error-red my-4 rounded-full border px-4 py-3 text-center text-3xl!"
        >close</span
      >
      <span class="text-error-red text-lg font-semibold"> {{ error()?.error.title ?? 'An error occurred' }} </span>
      <p class="text-center">{{ error()?.error.detail ?? 'Please try again later.' }}</p>
      @if (routerLink()) {
        <div class="my-2 h-px w-full bg-neutral-300"></div>
        <a matButton="outlined" [routerLink]="routerLink()" class="w-fit">Back to overview</a>
      }
    </div>
  </div>
</div>
