<div
  class="flex flex-row items-center gap-4 rounded-lg border-[2px] border-solid border-neutral-100 bg-neutral-50 px-4 py-2 hover:border-neutral-200/80"
>
  <div class="bg-primary-200/60 flex items-center justify-center rounded-full p-2">
    <span class="material-symbols-outlined text-white"> {{ getIcon(classification().classificationType) }}</span>
  </div>

  <div class="flex w-full flex-col">
    <div class="flex justify-between text-sm text-neutral-500">
      <h3 class="text-base">{{ classification().name | titlecase }}</h3>
      <span>GHG-Emissions: {{ classification().emission }} kg</span>
    </div>
    <app-verified-chart
      [amount]="classification().amount"
      [verifiedAmount]="classification().amountVerified"
      [unit]="classification().unit"
    ></app-verified-chart>
  </div>
</div>
