<div class="production-container">
  <div class="grey">
    <h2 class="head-title grey">Production</h2>
  </div>
  <mat-card class="table-card">
    <h2 class="card-title">Overview</h2>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="table-styling">
        <ng-container matColumnDef="startedOn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Started On</div></th>
          <td mat-cell *matCellDef="let row">{{ row.startedAt | date }}</td>
        </ng-container>
        <ng-container matColumnDef="endedOn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-font-size">
            <div class="bold">Ended On</div>
          </th>
          <td mat-cell *matCellDef="let row" class="table-font-size">{{ row.endedAt | date }}</td>
        </ng-container>
        <ng-container matColumnDef="productionUnit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Hydrogen Production Unit</div></th>
          <td mat-cell *matCellDef="let row">
            {{ row.productionUnit | titlecase }}
          </td>
        </ng-container>
        <ng-container matColumnDef="producedAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Hydrogen Produced (kg)</div></th>
          <td mat-cell *matCellDef="let row">{{ row.producedAmount | number }}</td>
        </ng-container>
        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Hydrogen Color</div></th>
          <td mat-cell *matCellDef="let row">{{ row.color | titlecase }}</td>
        </ng-container>
        <ng-container matColumnDef="powerProducer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Power Producer</div></th>
          <td mat-cell *matCellDef="let row">{{ row.powerProducer | titlecase }}</td>
        </ng-container>
        <ng-container matColumnDef="powerConsumed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Power Consumed (kWh)</div></th>
          <td mat-cell *matCellDef="let row">{{ row.powerConsumed | number }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </mat-card>
</div>
