<div class="flex flex-col gap-4 overflow-auto p-8">
  <div class="flex flex-row items-center gap-2 text-lg text-neutral-500">
    <a routerLink="/units" class="cursor-pointer hover:underline">Units</a>
    <span class="material-symbols-outlined"> keyboard_arrow_right </span>
    Add
  </div>

  <div class="flex flex-col gap-2 rounded-lg bg-white p-4">
    <span>Unit type</span>

    <div class="col-span-2 py-2">
      <mat-radio-group
        required
        class="flex w-full flex-row gap-2"
        aria-label="Select an option"
        [formControl]="selectedType"
      >
        @for (
          type of [UnitType.HYDROGEN_PRODUCTION, UnitType.POWER_PRODUCTION, UnitType.HYDROGEN_STORAGE];
          track $index
        ) {
          <div
            class="flex w-1/3 cursor-pointer flex-col rounded-md border-2 border-solid p-2"
            (click)="selectedType.patchValue(type)"
            role="none"
            [ngClass]="
              selectedType.value === type
                ? 'border-primary-400 text-primary-100'
                : 'border-neutral-300 text-neutral-500'
            "
          >
            <div class="flex w-full items-center justify-between">
              <div class="flex flex-row items-center gap-2">
                <div
                  class="h-10 w-10 rounded-full p-2 text-center"
                  [ngClass]="selectedType.value === type ? 'bg-primary-200' : 'bg-neutral-200/80'"
                >
                  <span
                    class="material-symbols-outlined"
                    [ngClass]="selectedType.value === type ? 'text-primary-700' : 'bg-neutral-200/20'"
                    >{{ getIcon(type) }}</span
                  >
                </div>
                <span class="text-base text-neutral-700">{{ type | enum: 'unitType' }}</span>
              </div>
              <mat-radio-button [value]="type"> </mat-radio-button>
            </div>
          </div>
        }
      </mat-radio-group>
    </div>
  </div>

  <app-base-unit-form [unitForm]="unitForm"></app-base-unit-form>

  @if (selectedType.value === UnitType.HYDROGEN_PRODUCTION) {
    <app-hydrogen-production-unit-form
      [hydrogenProductionForm]="hydrogenProductionForm"
    ></app-hydrogen-production-unit-form>
  }

  @if (selectedType.value === UnitType.POWER_PRODUCTION) {
    <app-power-production-unit-form [powerProductionForm]="powerProductionForm"></app-power-production-unit-form>
  }

  @if (selectedType.value === UnitType.HYDROGEN_STORAGE) {
    <app-hydrogen-storage-unit-form [hydrogenStorageForm]="hydrogenStorageForm"></app-hydrogen-storage-unit-form>
  }
  @if (!selectedType.value) {
    <div class="flex flex-col gap-2 rounded-lg bg-white p-4">
      <span>Additional Information</span>
      <span class="tetx-sm text-neutral-500"> Please select a unit type first. </span>
    </div>
  }

  <div class="flex justify-end rounded-lg bg-white p-4">
    <button mat-flat-button (click)="save()" [disabled]="unitForm.invalid || selectedForm.invalid">Save</button>
  </div>
</div>
