<div class="flex flex-col gap-4 overflow-auto p-8">
  <div class="flex flex-row items-center justify-between gap-2 text-lg text-neutral-500">
    <span class="flex flex-row items-center gap-2">
      <a routerLink="/production/data" class="cursor-pointer hover:underline">Production Data</a>
      <span class="material-symbols-outlined"> keyboard_arrow_right </span>
      {{ useCSV ? 'Upload' : 'Enter' }}
    </span>
    @if (useCSV) {
      <button mat-stroked-button (click)="useCSV = false">Enter</button>
    } @else {
      <button mat-stroked-button (click)="useCSV = true">Upload</button>
    }
  </div>

  @if (useCSV) {
    <app-production-csv-upload
      [hydrogenProductionUnits]="hydrogenProductionQuery.data() ?? []"
      [hydrogenStorageUnits]="hydrogenStorageQuery.data() ?? []"
      [powerAccessApprovals]="approvalsQuery.data() ?? []"
    >
    </app-production-csv-upload>
  } @else {
    <app-production-form
      [hydrogenProductionUnits]="hydrogenProductionQuery.data() ?? []"
      [hydrogenStorageUnits]="hydrogenStorageQuery.data() ?? []"
      [powerAccessApprovals]="approvalsQuery.data() ?? []"
    ></app-production-form>
  }
</div>
