<div class="flex min-w-min flex-col gap-4 p-6">
  <h3 class="font-semibold text-gray-700">Add bottle</h3>

  <div class="grid grid-cols-2 gap-x-2 gap-y-4" [formGroup]="bottleFormGroup">
    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="date"
        [max]="dateDelimiter"
        placeholder="Choose a date"
      />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Time</mat-label>
      <input
        matInput
        [matTimepicker]="timepicker"
        formControlName="time"
        [max]="dateDelimiter"
        placeholder="Pick a time"
      />
      <mat-timepicker-toggle matIconSuffix [for]="timepicker" />
      <mat-timepicker #timepicker />
    </mat-form-field>

    <mat-button-toggle-group formControlName="amount" required="true" class="col-span-2">
      <mat-button-toggle value="10" class="w-1/2">10 kg</mat-button-toggle>
      <mat-button-toggle value="50" class="w-1/2">50 kg</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field appearance="outline">
      <mat-label>Units</mat-label>
      <mat-select formControlName="storageUnit" placeholder="Select a Unit">
        @for (unit of hydrogenStorageQuery.data(); track unit) {
          <mat-option [value]="unit" [disabled]="bottleFormGroup.controls['amount'].value > unit.filling"
            >{{ unit.name }} ({{ unit.filling }} kg)
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="custom-input" appearance="outline">
      <mat-label>Recipients</mat-label>
      <mat-select formControlName="recipient" placeholder="Select a Recipient">
        @if (recipientsQuery.isSuccess() && recipientsQuery.data().length) {
          @for (recipient of recipientsQuery.data(); track recipient) {
            <mat-option [value]="recipient">{{ recipient.name }}</mat-option>
          }
        } @else {
          <mat-option [value]="null">No data found.</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <app-upload-form
      class="col-span-2"
      [title]="'Add Files'"
      [uploadedFiles]="uploadedFiles"
      (uploadDocument)="submitFile($event)"
      (removeDocument)="removeFile($event)"
    ></app-upload-form>
  </div>

  @if (mutation.isError()) {
    <app-error-card [message]="mutation.error().message"></app-error-card>
  }

  <div class="flex justify-end gap-2">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button (click)="createBottleData()" [disabled]="!bottleFormGroup.valid">Add Bottle</button>
  </div>
</div>
