<div class="flex h-[100svh] w-full flex-row bg-neutral-50">
  <div mode="side" class="w-96 border-r border-neutral-200 bg-white">
    <div class="flex h-full flex-col justify-between">
      <div class="">
        <div class="w-full px-24 py-2">
          <img
            src="https://minio.public.apps.blockchain-europe.iml.fraunhofer.de/api/v1/buckets/h2-trust/objects/download?prefix=H2-Trust-4c.png"
            alt="H2-Trust Logo"
          />
        </div>

        <div class="h-[1px] w-full bg-neutral-200"></div>

        @if (isAuthenticated) {
          <div class="flex flex-col gap-2 p-4">
            @for (option of sidebarOptions; track $index) {
              @if (option.visible()) {
                <a
                  [routerLink]="option.route"
                  class="flex w-full flex-row gap-2 rounded-lg p-3 text-neutral-700"
                  [ngClass]="{
                    'bg-primary-100 text-primary-700': isActive(option.route),
                    'hover:bg-neutral-100': option.route,
                  }"
                >
                  <span class="material-symbols-outlined">{{ option.icon }}</span>
                  <span>{{ option.title }}</span>
                </a>
              }

              @if (option.children; as children) {
                <div class="ml-6 flex flex-col gap-2 border-l-2 border-neutral-200 pl-2">
                  @for (item of children; track $index) {
                    @if (item.visible()) {
                      <a
                        [routerLink]="item.route"
                        class="flex w-full flex-row gap-2 rounded-lg p-3 text-neutral-700 hover:bg-neutral-100"
                        [ngClass]="{
                          'bg-primary-100 text-primary-700': isActive(item.route),
                        }"
                      >
                        <span class="material-symbols-outlined">{{ item.icon }}</span>
                        <span>{{ item.title }}</span>
                      </a>
                    }
                  }
                </div>
              }
            }
          </div>
        }
      </div>
      <div class="p-4">
        <div
          [matBadge]="ppaRequestsQuery.data()?.length"
          matBadgeSize="large"
          [matBadgeHidden]="ppaRequestsQuery.data()?.length === 0"
        >
          <div class="rounded-md bg-primary-100 p-2" [mat-menu-trigger-for]="menu">
            @if (isAuthenticated) {
              <div class="flex flex-row items-center justify-between gap-4">
                <div class="flex flex-row items-center gap-2">
                  <div class="flex h-10 w-10 items-center justify-center rounded-xl border border-primary-200 bg-white">
                    <span class="material-symbols-outlined text-2xl text-primary-400">person </span>
                  </div>
                  <div class="flex flex-col text-sm text-neutral-600">
                    <span class="font-semibold">{{ userFirstName }} {{ userLastName }}</span>
                    <span class="text-xs">{{ userEmail }}</span>
                  </div>
                </div>

                <span class="material-symbols-outlined">expand_all</span>
              </div>
            } @else {
              <div
                class="flex w-full flex-row items-center justify-between pl-2 text-primary-700"
                (click)="signIn()"
                role="none"
              >
                <span class="text-lg">Sign In</span>
                <span class="material-symbols-outlined">login</span>
              </div>
            }
          </div>
        </div>

        <mat-menu #menu="matMenu" class="my-2 !w-[17rem] !gap-0 !bg-neutral-50 !p-0">
          <div class="mx-2 rounded-lg border border-neutral-200 bg-white">
            <button mat-menu-item>
              <a class="flex items-center gap-2 text-neutral-600" routerLink="/">
                <span class="material-symbols-outlined">person</span>
                <span>account</span>
              </a>
            </button>
            <div class="h-px w-full bg-neutral-200"></div>
            <button mat-menu-item>
              <a class="flex items-center gap-2 text-neutral-600" routerLink="/ppa-requests">
                <span
                  class="material-symbols-outlined"
                  [matBadge]="ppaRequestsQuery.data()?.length"
                  matBadgeSize="medium"
                  [matBadgeHidden]="ppaRequestsQuery.data()?.length === 0"
                  >mail</span
                >
                <span>PPA Requests</span>
              </a>
            </button>
            <div class="h-px w-full bg-neutral-200"></div>
            <button mat-menu-item (click)="logout()">
              <div class="flex items-center gap-2 !text-neutral-600">
                <span class="material-symbols-outlined">logout</span>
                <span>Sign Out</span>
              </div>
            </button>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>

  <div class="h-full w-full overflow-auto bg-neutral-100">
    <ng-content></ng-content>
  </div>
</div>
