<mat-drawer-container class="h-[100vh] !bg-neutral-200" autosize>
  <mat-drawer mode="side" opened disableClose class="!border-r-1 !rounded-none !border-neutral-200 !bg-neutral-50">
    <div class="flex h-full flex-col justify-between p-4">
      <div class="flex flex-col gap-2">
        <h3 class="text-secondary-200 mb-4 text-2xl font-semibold">H2 Trust</h3>

        @for (option of sidebarOptions; track $index) {
          <a
            class="flex w-full flex-row gap-2 rounded-lg p-4 hover:bg-neutral-200"
            (click)="selectedIndex = $index"
            [ngClass]="selectedIndex === $index ? 'bg-primary-100/20' : ''"
            routerLink="{{ option.route }}"
          >
            <span class="material-symbols-outlined text-neutral-600">{{ option.icon }}</span>
            <span class="text-neutral-600">{{ option.title }}</span>
          </a>
        }
      </div>

      <mat-expansion-panel class="!bg-primary-100/20 p-2 !shadow-none">
        <mat-expansion-panel-header class="select-none !bg-transparent !pl-1 !pr-4">
          <mat-panel-title>
            <div class="flex !select-none flex-row items-center gap-4">
              <div class="bg-primary-300 flex h-10 w-10 items-center justify-center rounded-xl">
                <span class="material-symbols-outlined text-2xl text-white">person </span>
              </div>
              <div class="flex flex-col">
                <span class="text-sm font-semibold text-neutral-500">{{ userFirstName }} {{ userLastName }}</span>
                <span class="text-sm text-neutral-500">{{ userEmail }}</span>
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex w-full flex-col gap-1 p-2">
          <a
            class="hover:text-primary-100 hover:bg-primary-300/20 flex flex-row items-center gap-2 rounded-full p-4 text-neutral-500"
            routerLink="/"
          >
            <span class="material-symbols-outlined">settings</span>
            <span>account</span>
          </a>
          <button
            class="hover:text-primary-100 hover:bg-primary-300/20 flex flex-row items-center gap-2 rounded-full p-4 text-neutral-500"
            (click)="logout()"
          >
            <span class="material-symbols-outlined">logout</span>
            <span>logout</span>
          </button>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-drawer>
  <mat-drawer-content class="bg-neutral-100">
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
