.sidebar-container {
  flex-direction: column;
  height: 100vh;
  background: var(--white-color);
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem 0 1rem;
  height: 100%;
}

.mat-drawer {
  background-color: var(--white-color) !important;
}

.option {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.user-block {
  border: 2px solid var(--light-purple-color);
  border-radius: 0.5rem;
  margin: 0 1rem 1rem 1rem;
}

.user-information {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
}

.content-background {
  background-color: var(--medium-grey-color);
}

.user-toggle {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  user-select: none;
}

.account-settings-wrapper {
  max-width: 100%;
}

.account-settings-button {
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;

  &.w-full {
    width: 100%;
  }

  &:hover {
    background-color: var(--light-grey-color);
  }
}
