<div class="flex h-[100svh] w-full flex-row bg-neutral-50">
  <div mode="side" class="w-96 border-r border-neutral-200 bg-white">
    <div class="flex h-full flex-col justify-between">
      <div class="">
        <div class="w-full px-24 py-2">
          <img
            src="https://minio.public.apps.blockchain-europe.iml.fraunhofer.de/api/v1/buckets/h2-trust/objects/download?prefix=H2-Trust-4c.png"
            alt="H2-Trust Logo"
          />
        </div>

        <div class="h-[1px] w-full bg-neutral-200"></div>

        @if (isAuthenticated) {
          <div class="flex flex-col gap-2 p-4">
            @for (option of sidebarOptions; track $index) {
              @if (option.visible()) {
                <a
                  [routerLink]="option.route"
                  class="flex w-full flex-row gap-2 rounded-lg p-3 text-neutral-700"
                  [ngClass]="{
                    'bg-primary-100 text-primary-700': isActive(option.route),
                    'hover:bg-neutral-100': option.route,
                  }"
                >
                  <span class="material-symbols-outlined">{{ option.icon }}</span>
                  <span>{{ option.title }}</span>
                </a>
              }

              @if (option.children; as children) {
                <div class="ml-6 flex flex-col gap-2 border-l-2 border-neutral-200 pl-2">
                  @for (item of children; track $index) {
                    @if (item.visible()) {
                      <a
                        [routerLink]="item.route"
                        class="flex w-full flex-row gap-2 rounded-lg p-3 text-neutral-700 hover:bg-neutral-100"
                        [ngClass]="{
                          'bg-primary-100 text-primary-700': isActive(item.route),
                        }"
                      >
                        <span class="material-symbols-outlined">{{ item.icon }}</span>
                        <span>{{ item.title }}</span>
                      </a>
                    }
                  }
                </div>
              }
            }
          </div>
        }
      </div>
      <div class="p-4">
        <div
          [matBadge]="ppaRequestsQuery.data()?.length"
          matBadgeSize="large"
          [matBadgeHidden]="ppaRequestsQuery.data()?.length === 0"
        >
          <button class="relative w-full cursor-pointer rounded-lg bg-primary-100 p-2" (click)="toggleMenu()">
            @if (isAuthenticated) {
              <div class="flex flex-row items-center justify-between gap-4">
                <div class="flex flex-row items-center gap-2">
                  <div class="flex h-10 w-10 items-center justify-center rounded-full border">
                    <span class="material-symbols-outlined text-2xl text-primary-400">person</span>
                  </div>
                  <div class="flex flex-col text-left text-sm text-neutral-600">
                    <span class="font-semibold">{{ userFirstName }} {{ userLastName }}</span>
                    <span class="text-xs">{{ userEmail }}</span>
                  </div>
                </div>

                <span class="material-symbols-outlined pr-2 text-neutral-600">expand_all</span>
              </div>

              <div
                class="absolute -top-[10rem] left-0 z-10 mt-2 w-full origin-bottom transition-all duration-200"
                [class]="
                  isMenuOpen
                    ? 'visible translate-y-0 scale-100 opacity-100'
                    : 'pointer-events-none invisible -translate-y-1 scale-95 opacity-0'
                "
              >
                <div class="rounded-lg border border-neutral-200 bg-white">
                  <!-- Account -->
                  <a
                    routerLink="/"
                    class="flex items-center gap-3 rounded-t-md px-4 py-3 text-neutral-600 hover:bg-neutral-50"
                  >
                    <span class="material-symbols-outlined">person</span>
                    <span>Account</span>
                  </a>

                  <div class="h-px bg-neutral-200"></div>

                  <!-- PPA Requests -->
                  <a
                    routerLink="/ppa-requests"
                    class="flex items-center gap-3 px-4 py-3 text-neutral-600 hover:bg-neutral-50"
                  >
                    <span
                      class="material-symbols-outlined relative"
                      [matBadge]="ppaRequestsQuery.data()?.length"
                      matBadgeSize="large"
                      [matBadgeHidden]="ppaRequestsQuery.data()?.length === 0"
                    >
                      mail
                    </span>
                    <span>PPA Requests</span>
                  </a>

                  <div class="h-px bg-neutral-200"></div>

                  <!-- Sign Out -->
                  <button
                    (click)="logout(); isMenuOpen = false"
                    class="flex w-full items-center gap-3 rounded-b-md px-4 py-3 text-neutral-600 hover:bg-neutral-50"
                  >
                    <span class="material-symbols-outlined">logout</span>
                    <span>Sign Out</span>
                  </button>
                </div>
              </div>
            } @else {
              <div
                class="flex w-full flex-row items-center justify-between p-2 text-primary-700"
                (click)="signIn()"
                role="none"
              >
                <span class="text-lg">Sign In</span>
                <span class="material-symbols-outlined">login</span>
              </div>
            }
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="h-full w-full overflow-auto bg-neutral-100">
    <ng-content></ng-content>
  </div>
</div>
