<div class="grid grid-cols-2 gap-4 rounded-lg border-[2px] border-solid border-neutral-100 bg-neutral-50 p-4">
  <span class="col-span-2 text-neutral-600">GHG-Emissions</span>

  <div class="flex flex-col text-sm">
    <span class="text-sm text-neutral-500">Total Emissions</span
    ><span>{{ emissions().amountCO2 | number: '1.0-2' | unit: FormattedUnits.G_CO2 }} </span>
  </div>
  <div class="flex flex-col text-sm">
    <span class="text-sm text-neutral-500">Emissions per kg Hydrogen</span
    ><span>{{ emissions().amountCO2PerKgH2 | number: '1.0-2' | unit: FormattedUnits.CO2_PER_KG_H2 }} </span>
  </div>
  <div class="col-span-2 flex flex-col text-sm">
    <span class="text-sm text-neutral-500">Basis of Calculation</span>
    <span class="text-sm text-neutral-500">
      (Accumulated amount of process emissions along the entire supply chain)
    </span>
    <span>{{ emissions().basisOfCalculation }}</span>
  </div>
</div>
