<div class="flex flex-row gap-2 pt-4 text-neutral-600">
  <div class="border-tertiary-100 flex flex-1 grow flex-col gap-2 rounded-md border p-4">
    <span class="text-sm">PENDING • {{ labels().heading }} </span>
    <span class="text-tertiary-500 text-3xl">{{ overview()?.[PowerPurchaseAgreementStatus.PENDING] }}</span>
    <span>
      {{ labels().description[PowerPurchaseAgreementStatus.PENDING] }}
    </span>
  </div>

  <div class="border-error-red/30 flex flex-1 flex-col gap-2 rounded-md border p-4">
    <span class="text-sm">REJECTED • {{ labels().heading }}</span>
    <span class="text-error-red text-3xl">{{ overview()?.[PowerPurchaseAgreementStatus.REJECTED] }}</span>
    <span>
      {{ labels().description[PowerPurchaseAgreementStatus.REJECTED] }}
    </span>
  </div>

  <div class="border-secondary-200 flex flex-1 flex-col gap-2 rounded-md border p-4">
    <span class="text-sm">APPROVED • {{ labels().heading }}</span>
    <span class="text-secondary-600 text-3xl">{{ overview()?.[PowerPurchaseAgreementStatus.APPROVED] }}</span>
    <span>
      {{ labels().description[PowerPurchaseAgreementStatus.APPROVED] }}
    </span>
  </div>
</div>
