.add-bootle-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.date-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.amount-container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.error-box {
  border: 2px solid var(--light-red-color);
  border-radius: 0.5rem;
}
