<div class="flex h-full flex-col gap-4 overflow-auto p-8">
  <div class="flex flex-row items-center gap-2 text-lg text-neutral-500">
    <a routerLink="/units" class="cursor-pointer hover:underline">Units</a>
    <span class="material-symbols-outlined"> keyboard_arrow_right </span>
    <a [routerLink]="['/units', id()]" class="cursor-pointer hover:underline"> {{ unitQuery.data()?.name ?? id() }} </a
    ><span class="material-symbols-outlined"> keyboard_arrow_right </span>
    Edit
  </div>

  @if (unitQuery.data(); as unit) {
    <div class="relative w-full rounded-md bg-white p-4">
      <app-unit-card [unit]="unit" [showActions]="false"></app-unit-card>
    </div>

    <app-base-unit-form [unitForm]="unitForm"></app-base-unit-form>

    @if (isHydrogenProductionUnit(unit)) {
      <app-hydrogen-production-unit-form
        [hydrogenProductionForm]="hydrogenProductionForm"
      ></app-hydrogen-production-unit-form>
    } @else if (isHydrogenStorageUnit(unit)) {
      <app-hydrogen-storage-unit-form [hydrogenStorageForm]="hydrogenStorageUnitForm"></app-hydrogen-storage-unit-form>
    } @else if (isPowerProductionUnit(unit)) {
      <app-power-production-unit-form [powerProductionForm]="powerProductionForm"></app-power-production-unit-form>
    } @else {
      <p class="text-sm text-neutral-500">Unknown unit type.</p>
    }

    <div class="relative flex w-full justify-end gap-2 rounded-md bg-white p-4">
      <a matButton="outlined" [routerLink]="['/units', unit.id]">Cancel</a>
      <button matButton="filled" (click)="onSave(unit)">Save</button>
    </div>
  } @else if (unitQuery.isLoading()) {
    <app-loading-card></app-loading-card>
  } @else if (unitQuery.error(); as err) {
    <app-error-card [error]="err" [routerLink]="'/units'" class="h-full grow"></app-error-card>
  }
</div>
