<div class="flex h-full flex-col gap-4">
  @if (unitQuery.data(); as unit) {
    <div class="relative w-full rounded-md bg-white p-4">
      <app-unit-card [unit]="unit" [showActions]="false"></app-unit-card>
    </div>

    <app-base-unit-form [unitForm]="unitForm"></app-base-unit-form>

    @if (isHydrogenProductionUnit(unit)) {
      <app-hydrogen-production-unit-form
        [hydrogenProductionForm]="hydrogenProductionForm"
      ></app-hydrogen-production-unit-form>
    } @else if (isHydrogenStorageUnit(unit)) {
      <app-hydrogen-storage-unit-form [hydrogenStorageForm]="hydrogenStorageUnitForm"></app-hydrogen-storage-unit-form>
    } @else if (isPowerProductionUnit(unit)) {
      <app-power-production-unit-form [powerProductionForm]="powerProductionForm"></app-power-production-unit-form>
    } @else if (isTransportUnit(unit)) {
      <app-hydrogen-transport-unit-form [hydrogenTransportForm]="transportUnitForm"></app-hydrogen-transport-unit-form>
    }

    <div class="relative flex w-full justify-end gap-2 rounded-md bg-white p-4">
      <a matButton="outlined" [routerLink]="H2TrustRouterLinks.UNIT_DETAILS(unit.id)">Cancel</a>
      <button matButton="filled" (click)="onSave(unit)">Save</button>
    </div>
  } @else if (unitQuery.isLoading()) {
    <app-loading-card></app-loading-card>
  } @else if (unitQuery.error(); as err) {
    <app-error-card [error]="err" [routerLink]="H2TrustRouterLinks.UNITS" class="h-full grow"></app-error-card>
  }
</div>
