<div
  (click)="fileInput.click()"
  role="none"
  for="dropzone-file"
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
  class="group flex h-32 w-full cursor-pointer flex-col items-center justify-center rounded-md border-2 border-dashed border-neutral-400 hover:border-primary-300 hover:bg-primary-100/30"
>
  <span class="material-symbols-outlined text-4xl text-neutral-400 group-hover:text-primary-400">cloud_upload</span>
  <p class="mb-2 text-center text-sm text-neutral-500 group-hover:text-primary-400">
    Drop your files here or <br />
    <span class="font-semibold text-neutral-500 group-hover:text-primary-400">click </span>to upload
  </p>

  <input
    id="dropzone-file"
    type="file"
    class="hidden"
    #fileInput
    (change)="onFileSelected($event)"
    [accept]="acceptedFileTypes()"
  />
</div>
