<div
  (click)="fileInput.click()"
  role="none"
  for="dropzone-file"
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
  class="hover:border-primary-300 hover:bg-primary-100/30 group flex h-32 w-full cursor-pointer flex-col items-center justify-center rounded-md border-2 border-dashed border-neutral-400"
>
  <span class="material-symbols-outlined group-hover:text-primary-400 text-4xl text-neutral-400">cloud_upload</span>
  <p class="group-hover:text-primary-400 mb-2 text-center text-sm text-neutral-500">
    Drop your files here or <br />
    <span class="group-hover:text-primary-400 font-semibold text-neutral-500">click </span>to upload
  </p>

  <input
    id="dropzone-file"
    type="file"
    class="hidden"
    #fileInput
    (change)="onFileSelected($event)"
    [accept]="acceptedFileTypes()"
  />
</div>
