<div class="flex flex-col gap-4 p-4">
  <div class="flex flex-row justify-between">
    <h2 class="text-lg text-neutral-500">Processing</h2>
    <button mat-flat-button (click)="openBottleDialog()">Add Bottle</button>
  </div>

  <div class="0 flex flex-col gap-2 rounded-lg bg-white p-4">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="filledAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Filled At</div></th>
          <td mat-cell *matCellDef="let row" [routerLink]="[row.id]">
            {{ row.filledAt | date }} {{ row.filledAt | date: 'shortTime' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-font-size">
            <div class="bold">Owner</div>
          </th>
          <td mat-cell *matCellDef="let row" [routerLink]="[row.id]" class="table-font-size">{{ row.owner }}</td>
        </ng-container>
        <ng-container matColumnDef="filledAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Filled Amount (kg)</div></th>
          <td mat-cell *matCellDef="let row" [routerLink]="[row.id]">
            {{ row.filledAmount | number }}
          </td>
        </ng-container>
        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Hydrogen Color</div></th>
          <td mat-cell *matCellDef="let row" [routerLink]="[row.id]">
            <app-h2-color-chip [color]="row.color"></app-h2-color-chip>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
