<div class="mat-elevation-z8">
  <table mat-table *ngIf="dataSource$ | async as source" [dataSource]="source" matSort class="table-styling">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold"><div class="bold">Name</div></th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>
    <ng-container matColumnDef="fillingLevel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Filling Level</div></th>
      <td mat-cell *matCellDef="let row">{{ row.filling | number }} / {{ row.capacity | number }}</td>
    </ng-container>
    <ng-container matColumnDef="fillingStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Filling Status</div></th>
      <td mat-cell *matCellDef="let row">
        <div class="orb-container"><span class="red-orb"></span></div>
      </td>
    </ng-container>
    <!-- Returned Overview Unit doesnt contain hydrogenproduction object -->
    <ng-container matColumnDef="productionUnit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="bold">Production Unit</div></th>
      <td mat-cell *matCellDef="let row"><!-- {{ row.hydrogenProductionUnit.name }} --></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
