<div class="flex flex-col gap-4 p-8">
  <h2 class="text-lg text-neutral-800">Units</h2>

  <div class="flex w-full items-center justify-between">
    <div class="flex flex-row gap-4">
      <div>
        <p class="text-sm text-neutral-500">Filter by type</p>
        <mat-chip-set aria-label="List filter">
          @for (unitType of unitTypes; track unitType) {
            <mat-chip-option selectable [selected]="typeToShow() === unitType" (click)="selectType(unitType)">
              {{ unitType | enum: 'unitType' }}
            </mat-chip-option>
          }
          <mat-chip-option selectable [selected]="!typeToShow()" (click)="showAll()"> All </mat-chip-option>
        </mat-chip-set>
      </div>
    </div>
    <button [routerLink]="'create'" mat-flat-button>Add Unit</button>
  </div>
  <mat-divider></mat-divider>

  <div class="3xl:grid-cols-4 grid grid-cols-3 gap-4">
    @for (item of unitsQuery.data() ?? []; track item.id) {
      <app-unit-card [unit]="item">
        @if (isHydrogenStorageUnit(item)) {
          <mat-chip>
            <span matChipAvatar class="material-symbols-outlined">bar_chart</span> {{ item.filling | number }}/{{
              item.capacity | unit: MeasurementUnit.KG
            }}</mat-chip
          >
          <mat-chip>
            <span matChipAvatar class="material-symbols-outlined">label</span>
            {{ item.storageType | enum: 'hydrogenStorageType' }}</mat-chip
          >
        } @else if (isPowerProductionUnit(item)) {
          <mat-chip>
            <span matChipAvatar class="material-symbols-outlined">charger</span>
            {{ item.ratedPower | unit: MeasurementUnit.KWH }}</mat-chip
          >
          <mat-chip>
            <span matChipAvatar class="material-symbols-outlined">category</span
            >{{ item.typeName | enum: 'powerProductionType' }}</mat-chip
          >
        } @else if (isHydrogenProductionUnit(item)) {
          <mat-chip>
            <span matChipAvatar class="material-symbols-outlined">charger</span>
            {{ item.ratedPower | unit: MeasurementUnit.KWH }}</mat-chip
          >
          <mat-chip>
            <span matChipAvatar class="material-symbols-outlined">lab_panel</span
            >{{ item.technology | enum: 'hydrogenProductionTechnology' }}</mat-chip
          >
        }
      </app-unit-card>
    }
  </div>
</div>
