<!-- Sheet overlay -->
@if (visible) {
  <div
    role="none"
    (click)="close()"
    [attr.data-state]="(closing$ | async) ? 'closed' : 'open'"
    class="data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 fixed bottom-0 left-0 right-0 top-0 z-40 data-[state=open]:bg-neutral-100/60 data-[state=open]:backdrop-blur-[2px] data-[state=closed]:duration-300"
  ></div>
  <div
    [attr.data-state]="(closing$ | async) ? 'closed' : 'open'"
    [ngClass]="size() === 'small' ? 'w-1/3' : 'w-3/4 max-w-[800px]'"
    class="bg-background data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:slide-out-to-right data-[state=open]:slide-in-from-right fixed inset-y-0 right-0 z-50 h-full gap-4 overflow-y-auto border border-neutral-200 bg-white p-6 shadow-lg transition ease-in-out data-[state=closed]:duration-500 data-[state=open]:duration-300"
  >
    <ng-content />
  </div>
}
