name: Danger

on:
  pull_request:

jobs:
  danger:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write
      statuses: write
      issues: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Common Setup
        uses: ./.github/actions/common-setup

      - name: Run Danger
        run: npx danger ci --failOnErrors
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
