<div class="flex flex-col rounded-lg bg-white p-4">
  <h3 class="font-semibold text-neutral-500">Proof of Origin</h3>
  <div class="mb-4 flex flex-row gap-2 text-sm text-neutral-500">
    <span class="cursor-pointer" (click)="sectionIndex$.set(-1); classificationIndex$.set([])" role="none">
      {{ id() }}
      @if (sectionIndex$() > -1 && proofQuery.data(); as data) {
        <span class="material-symbols-outlined text-sm"> keyboard_arrow_right </span>
        {{ data[sectionIndex$()].name | titlecase }}
      }
    </span>

    @for (item of data$().breadcrumbs; track $index) {
      <span class="cursor-pointer" (click)="navigate($index)" role="none">
        <span class="material-symbols-outlined text-sm"> keyboard_arrow_right </span> {{ item | titlecase }}</span
      >
    }
  </div>

  @for (item of data$().sections; track $index; let sIndex = $index) {
    <div class="flex flex-row items-center gap-2">
      <div class="bg-primary-200/30 flex h-12 w-12 items-center justify-center rounded-full">
        <span class="material-symbols-outlined text-white"> arrow_downward </span>
      </div>
      <span class="py-2 text-neutral-500">{{ item.name | titlecase }}</span>
    </div>
    <div class="my-2 ml-6 flex flex-col border-l-[3px] border-solid border-neutral-200 pl-4">
      @for (class of item.classifications; track $index; let cIndex = $index) {
        <app-classification
          [classification]="class"
          class="my-1 w-1/2 cursor-pointer"
          (click)="setIndex(sIndex, cIndex)"
          role="button"
        ></app-classification>
      }
      @for (batch of item.batches; track $index) {
        <app-batch-card [batch]="batch" class="my-1 w-1/2"> </app-batch-card>
      }
    </div>
  }
</div>
